.page-account-notice-redirect {
	h2 {
		font-size: 2.25em;
	}
	h3 {
		font-size:1.5em;
	}
	a.init-modal-forms-password-processed, a.init-modal-forms-register-processed, ul li a {
		font-weight: bold;
	    color: $ltvGreen;
	    margin: 10px 0 0 0;
	    display: block;
	    font-size: 1.25em;
	    &:hover {
	    	color:$ltvOrange;
		    };
		}
	p {
		margin-bottom: 1em;
		width:50%;
	}

	input[type="submit"] {
		margin-top: 10px;
		@include add-to-cart-fullpage-prod-display(1.5em, .25em .75em)
	}
}