body.section-ltvalbums, body.node-type-product-mnmedia-album-display {
	.group-header {
		h1.album-artist {
			text-align: center;
			@include breakpoint($tablet-min) {
				text-align:left;
			}
			font-size:2.25em;
		}

		h1.album-title {
			font-size:3.5em;	
			margin-bottom: 0;
			text-align: center;
			@include breakpoint($tablet-min) {
				text-align:left;
			}
		}
	}		
	.group-left {
		
		.album-cover-main {
			/* width:80%; */
			margin:0 auto 0px auto;
			@include breakpoint($tablet-min){
				@include lh-col-el-width;
				clear:left; 
				margin-left:0;
				float:none;
			}
			img {
				width:100%;
				@include product-display-shadow(3.5%);
				}
			}
		.album-price {
			display: block;
			font-size: 1.5em;
			text-align: center;
			@include breakpoint($tablet-min){
				@include lh-col-el-width;
				clear:left; 
				margin-left:0;
				float:none;
				
				margin:10px 0;
				}
			}	
		.add-to-cart { 
			width:100%; 
			position: relative;
			margin-bottom:20px;
			clear:both !important;
			float:none !important;
			@include breakpoint($tablet-min){@include lh-col-el-width;margin-left:0;}	
				input[type="submit"] {
					margin:0 auto;
					@include add-to-cart-fullpage-prod-display(1.4em, .5em 2.25em);
				}
			}
		.album-genre {
			display:block;
			clear:both;
			margin-bottom:10px;
			.label-inline {
			display:inline;
			font-size:1em;
			}
			a {
				color:$ltvOrange;
				font-weight:bold;
				font-size:1em;
				text-transform:capitalize !important;
				&:hover{
					text-decoration:underline;
					};
				}
			}		 		
	} /* END LEFT */	
}