body.section-books {

	.l-content {padding-top: 0;}
	
	h1, h2 { @extend %headline;}
	
	.group-left {
		width:100%;
		@include breakpoint($tablet-min){
			@include grid-span(6,1); 
	  		margin-left:0; 
		}
		
		.book-cover {
			width:100%;
			img {
				margin:0 auto;
				width:90%;
				@include breakpoint($tablet-min){
					margin:0;
				}
				display: block;
				
			 	@include product-display-shadow(3%);
			}
		}
	}	
	.group-right { 
		width:100%;
		@include breakpoint($tablet-min){
				@include grid-span(10,7); 
		  		margin-left:0; 
			}
		ul.social-media-int {
			/* moved to product page genereic */
			}
		
		h1.book-title {
			@include text-shadow;
			font-size:2.25em;
			text-align:center;
			@include breakpoint($tablet-portrait){font-size:3em;text-align:left;}
			@include breakpoint($tablet-landscape-min){font-size:3.5em;margin-bottom:0;text-align:left;} 
		} 

		h2.book-author {
			text-align: center;
			font-size:1.5em;
			margin-bottom: 10px;
			@include breakpoint($tablet-min){font-size:2.8em;text-align: left} 
			@include text-shadow;
		}

		.book-description {
			/* MOVED TO PRODUCR PAGE GENERIC */
		}    
		.book-price {
			/* MOVED TO PRODUCR PAGE GENERIC */
			}    
			
		.form-item-quantity{
			/* MOVED TO PRODUCT PAGE GENERIC */	
			}
		form.commerce-add-to-cart {	
			/* MOVED TO PRODUCT PAGE GENERIC */	
			}	

		.book-publisher {
			font-size:1em !important;
			}
		}	
} /* END body.section books */
