body.section-browse-albums, 
body.section-latest, 
body.section-featured, 
body.section-most-popular {
	/* widget height */
	$widgetHeight:35px;
	@include breakpoint($tablet-portrait){$widgetHeight:35px;}
	@include breakpoint($tablet-landscape){$widgetHeight:35px;}
	@include breakpoint($desktop){$widgetHeight:35px;}

	.l-content {
		position:relative;
		padding-bottom:7px;
		padding-top:50px;
		@include breakpoint($tablet-min){
			padding-top: 0;
		}
	}
	
	h1 { @extend %headline; }
		
	/*.view-browse-albums { NOT USED WITH VIEW LIST
		@include breakpoint($tablet-portrait){padding:0 2%;}
		@include breakpoint($tablet-landscape){padding-left:6%;}
		@include breakpoint($desktop){padding-left:6%;}
		color:$drkBlueTxt;
		font-weight:900;
		font-family:$mainNav;
	}	*/ 

	.view-content { 
		clear:left;
		padding-left:0;
		padding-top:25px;
		color:$drkBlueTxt;
		font-weight:900;
		font-family:$mainNav;
		@include clearfix;

		@include breakpoint($tablet-portrait){padding-left:0%;}
		@include breakpoint($tablet-landscape){padding-left:6%;}
		@include breakpoint($desktop){padding-left:6%;}
		}

	ul {
		padding-left: 0;/*for mobile!*/
	} 	
	li.views-row {
		float:left;
		margin-bottom: 25px;
		img {
			@include browse-albums-thumb;
			position:relative;
			display:block;
			margin-bottom:5px;
			@include product-display-shadow(3.5%);
		}
		h2.album-title {
			@include browse-albums-title;
			&:hover { @include text-hover; 
			};
		}
		h3.ltv-artist, h3.artist {
			@include browse-albums-artist;
		}
		span.album-price {
			@include browse-albums-price;
		}
		input[type="submit"] {
			@include browse-albums-add-to-cart;
		}
		.tags-wrapper {
			font-size:10px;
			font-weight: normal;
		}
	}
	/* control row breaks */
	@include breakpoint($small-touch-max){
		li.views-row {
			width:50%;
			.li-wrapper {
				width:100%;
				padding-right:1em;
			}
		}
		li.views-row:nth-child(2n+3) {
				clear:left;
			}
	}
	@include breakpoint($tablet-portrait){
		li.views-row {
			width:33.33%;
			
			.li-wrapper {
				width:160px;
			}
		}
		li.views-row:nth-child(3n+4) {
				clear:left;
			}
	}
	@include breakpoint($tablet-landscape-min){ 	
		li.views-row {
			width:25%;
			
			.li-wrapper {
				width:160px;
			}
		}
		li.views-row:nth-child(4n+5) {
				clear:left;
			}
		}
				
	.view-filters {
		padding-top: 5px;
		position: relative;
		@include breakpoint($tablet-portrait){padding-top:10px;}
		@include breakpoint($tablet-landscape){padding-top:20px;}
		@include breakpoint($desktop){padding-top:30px;}
		
			form {
			.views-exposed-widget {
				width:50%;
				float:left;
				padding:0 1em 0 0;
				@include breakpoint($tablet-landscape-min){
					width:25%;
					padding-right:2%;
				}
				@include breakpoint($tablet-portrait){
					width:33%;
					padding-right:2%;
				}
			} /*view.css override*/

			label {
				color:$blueGreen !important;
				font-family: $bebasNeue !important;
				text-transform: uppercase;
				font-size:2em;
				@include breakpoint($desktop){font-size: 2.2em;}
				@include breakpoint($tablet-landscape){font-size: 2.2em;}
				@include breakpoint($tablet-portrait){font-size: 1.8em;}
				font-weight:100;
				padding-left:3px;
				}
			
			select.form-select {
				border:1px solid $ltvGreen;
				border-radius:5px;
				height:$widgetHeight;
				width:100%;
				
				@include breakpoint($desktop){
					/* height:40px; */
					/*width:220px; */
					}
				}
			.views-submit-button {
				clear:left;
				margin-top: 10px;
				@include breakpoint($tablet-portrait){position:relative;top:26px;clear:none;}
				@include breakpoint($tablet-landscape-min){position:relative;top:33px;clear:none;}
				input { 
					background-color:$ltvGreen;
					border:none; 
					color:#fff;
					/* padding: 2px 40px 2px 40px; */
					font-size: 1.3em;
					font-weight: 100;
					height:$widgetHeight;
					width:100%;
					&:hover{@include add-cart-bg-hover}
					@include breakpoint($tablet-portrait){
						padding: 2px 40px 2px 40px;
						font-size: 1.3em;
						font-weight: 100;
					}
					@include breakpoint($tablet-landscape){
						padding: 2px 48px 4px 48px; 
						font-size:1.375em;
						font-weight:100;
						position:relative;
					}
					@include breakpoint($desktop){
						padding: 4px 48px 4px 48px;
						font-size:1.75em;
						font-weight:100;
						position:relative;
					}
				}
			.form-submit {margin-top: 0} /*view.css override*/		

			}
		}
	}

}
