body.section-browse-albums-mobile {
	#search-block-form {
		display:none; /* TEMP, WHERE IS THIS COMING FROM? */
	}
	h1 {
		color:#00a5b0;
    	font-size:3em;
		text-align:center !important;
	}
		
	.view-browse-albums-mobile {
		padding-top:10px;
		color:$drkBlueTxt;
		font-weight:900;
		font-family:$mainNav;
		}	 
	.view-filters {
		.views-exposed-widgets {
			position: relative;
			.views-exposed-widget {float:left;padding:0 10px 0 0;width:33%;

			.views-widget {width: 100%}
				} /*view.css override*/ 

			label {
				color:$blueGreen !important;
				font-size:1.5em;  
				font-family: $bebasNeue !important;
				text-transform: uppercase;
				font-weight:100;
				padding-left:3px;
				}
			
			select.form-select {
				width:100%;
				border:1px solid $ltvGreen;
				border-radius:1px;
				height:30px;
				}
			.views-submit-button {
					position: absolute;
					right:0;
					bottom:0; 
				input { 
					background-color:$ltvGreen;
					border:none;
					color:#fff;
					width:100%;
					height:30px;
					font-size:1.5em; 
					&:hover{@include add-cart-bg-hover}
				}
			.form-submit {margin-top: 0} /*view.css override*/		

			}
		} /* END EXPOSED WIDGETS */		
	} /*END VIEW FILTERS */	


	.view-content { /* put after filters */
		padding-top:25px;
	 	}
	 .views-row {
	 	clear:both;
	 	width:100%;
	 	text-align:center;
	 	margin-bottom:40px;  
	 
		 .album-cover-main, .field--name-field-images, .field--name-field-album-cover-front { /*NOTE:Dsuit not being used here?! */
				width:65%;
				border:0px solid red;
				position:relative;
				margin:0 auto 10px auto; 
				img {
					/* margin:0 auto; */
					position:relative;
					width:100%;
					display:block;
					@include product-display-shadow(3.5%);
					}
				}
		h2.album-title {
			font-family: $arial;
			text-transform: none; 
			font-size:2.25em;
			margin:0px 0 5px 0; 
		}

		a:hover h2.album-title {@include text-hover;}
		
		h1.album-artist, h1.ltv-artist {
			font-family: $arial;
			text-transform: none; 
			font-size:1.75em;
			margin:0px 0 5px 0;
			}	 	
		.price {
			font-size:1.25em;
		}	
		

		input[type='submit'] {
			background-color:$addCartYellow;
			border:0px solid red !important;
			font-family:$bebasNeue;
			color:#fff;
			/* padding:10px 40px; */
			text-transform:uppercase;
			width: 55%;
			  font-size: 1.5em;
			  padding: 10px 0;
			  margin: 10px auto;
			  	&:hover{@include add-cart-bg-hover}
			}
		.browse-genre-tags a{
			font-weight: bold;
			color:$ltvOrange;
			&:hover {
				text-decoration:underline;
				};
			}	
		}
	
	/*
	div.field {
		display:block;
		margin-bottom:4px;
	}
	
	a {
		color:$drkBlueTxt;

		&:hover {
			@include text-hover;
		}
	}
	*/
/* .super-footer {display:none;} */
	
	
}