body.section-browse-albums {

	.l-main {
		/* background:url('/sites/default/files/bg-browse-albums-ref.jpg') no-repeat 0 24px; */
	}

	.l-content {
	 position:relative;
	 padding-bottom:7px;
	}
	
	#search-block-form {
		display:none; /* TEMP, WHERE IS THIS COMING FROM? */
	}
	h1 {
		@extend %headline;
	}
		
	.view-browse-albums {
		@include breakpoint($desktop){padding-left:6%;}
		@include breakpoint($tablet-landscape){padding-left:6%;}
		@include breakpoint($tablet-portrait){padding:0 2%;}
		color:$drkBlueTxt;
		font-weight:900;
		font-family:$mainNav;
	}	 
	.view-filters {
			@include breakpoint($desktop){padding-top:30px;}
			@include breakpoint($tablet-landscape){padding-top:20px;}
			@include breakpoint($tablet-portrait){padding-top:10px;}
		
		.views-exposed-widgets {
			.views-exposed-widget {float:left;padding:0 1em 0 0;} /*view.css override*/

			label {
				color:$blueGreen !important;
				font-family: $bebasNeue !important;
				text-transform: uppercase;
				@include breakpoint($desktop){font-size: 2.2em;}
				@include breakpoint($tablet-landscape){font-size: 2.2em;}
				@include breakpoint($tablet-portrait){font-size: 1.8em;}
				font-weight:100;
				padding-left:3px;
				}
			
			select.form-select {
				@include breakpoint($desktop){
					height:40px;
					width:220px;
				}
				@include breakpoint($tablet-landscape){
					height:30px;
					width:180px;
				}
				@include breakpoint($tablet-portrait){
					height:25px;
					width:150px;
				}
				border:1px solid $ltvGreen;
				border-radius:1px;
				}
			.views-submit-button {
					@include breakpoint($desktop){position:relative;top:42px;} 
					@include breakpoint($tablet-landscape){position:relative;top:42px;}
					@include breakpoint($tablet-portrait){position:relative;top:34px;}

				input { 
					background-color:$ltvGreen;
					border:none; 
					color:#fff;
					&:hover{@include add-cart-bg-hover}
					@include breakpoint($tablet-portrait){
						padding: 2px 40px 2px 40px;
						font-size: 1.3em;
						font-weight: 100;
					}
					@include breakpoint($tablet-landscape){
						padding: 2px 48px 4px 48px; 
						font-size:1.375em;
						font-weight:100;
						position:relative;
					}
					@include breakpoint($desktop){
						padding: 4px 48px 4px 48px;
						font-size:1.75em;
						font-weight:100;
						position:relative;
					}
				}
			.form-submit {margin-top: 0} /*view.css override*/		

			}
		} /* END EXPOSED WIDGETS */		
	} /*END VIEW FILTERS */	


	.view-content { /* put after filters */
		padding-top:45px;
	 	}

	.field--name-title-field {
			font-size:1.2em;
		}

	table.views-view-grid {
			width:100%;
		td {
			padding-bottom:3em;
			width:25%;
			vertical-align:top;
			padding-top: none;
		
		.album-cover-main, .field--name-field-images, .field--name-field-album-cover-front { /*NOTE:Dsuit not being used here?! */
			width:75%;
			border:0px solid red;
			position:relative;
			/* check mobile first */
			/*
			background-image:url('/sites/all/themes/yogastreams/images/album-drop-shadow.png');
			background-position:0 100%; 
			background-repeat: no-repeat;
			background-size: 100% auto;
			*/
			/* ********************************/
			img {
				/* margin:0 auto; */
				position:relative;
				display:block;
				margin-bottom:10px;
				@include product-display-shadow(3.5%);
				
				}
			}
			
			h2.album-title {
				color:$drkBlueTxt;
				text-align:left;
				@include breakpoint($desktop){font-size:1.4em;}
				@include breakpoint($tablet-landscape){font-size:1.35em;}
				@include breakpoint($tablet-portrait){font-size:1.25em;}
				margin-bottom:10px;
				}
			a:hover h2.album-title {@include text-hover;}
			
			h1.album-artist, h1.ltv-artist {
				font-family: $arial;
				text-transform: none; 
				@include breakpoint($desktop){font-size:1em;margin:0px 0 10px 0;}
				@include breakpoint($tablet-landscape){font-size:.9em;margin:0px 0 6px 0;}
				@include breakpoint($tablet-portrait){font-size:.8em;margin:0px 0 4px 0;}
				}

			input[type='submit'] {
				background-color:$addCartYellow;
				border:0px solid red !important;
				font-family:$bebasNeue;
				color:#fff;
				/* padding:10px 40px; */
				text-transform:uppercase;
				margin-bottom:10px;
				@include breakpoint($desktop){font-size:1.4em;}
				@include breakpoint($tablet-landscape){font-size:1.3em;}
				@include breakpoint($tablet-portrait){font-size:1.2em;}
				width:75%;
				@include breakpoint($desktop){height:40px;}
				@include breakpoint($tablet-landscape){height:30px;}
				@include breakpoint($tablet-portrait){height:25px;}
				&:hover{@include add-cart-bg-hover}
			}
			.price {
				display: block;
				margin-bottom: 5px;
				@include breakpoint($desktop){font-size:1.2em}
				@include breakpoint($tablet-landscape){font-size:1em;}
				@include breakpoint($tablet-portrait){font-size:.9em}
			}
			div span, div a {
				@include breakpoint($desktop){font-size:1.2em}
				@include breakpoint($tablet-landscape){font-size:1em;}
				@include breakpoint($tablet-portrait){font-size:.9em}
			}
 
		}
		span.browse-genre-tags {
			display: none;
		}
		td div span,  span.browse-genre-tags a { /* tags container, */
				font-size: 14px;
		}
		span.browse-genre-tags a {
			color:$ltvOrange;
			&:hover {
				text-decoration:underline;
			};
		}
	} /* END TABLE */
	div.field {
		display:block;
		margin-bottom:4px;
	}
	
	a {
		color:$drkBlueTxt;

		&:hover {
			@include text-hover;
		}
		
	}
/* .super-footer {display:none;} */
	
	
}