body.section-checkout {
.price {color:$drkBlueTxt !important;}

	.l-content {
		padding-top:0px;
		@include padding-top-mobile-no-social;
		@include breakpoint($tablet-landscape-min){
			padding-top: 0;
		} 
	}
	.block--user-login {
		order: 1px solid #99cc66;
		padding-left: 3px;
		width: 40%;
		margin-left: 60%;
		top: -30px;
		position: relative;
		
		h3, label {
			text-align: right;
		}
	}
	
	a.init-modal-forms-login-processed {
		color:$blueGreen;
	}

	.block--commerce-checkout-progress-indication {display:none;}
	fieldset {
		border:2px solid $ltvGreen;
		background-color:rgba(255, 197, 43, 0.15);
		@include gen-purpose-border-radius;
		margin-bottom: 12px;
		legend {
			font-variant:small-caps;
			font-weight:bold;
		}
	} 
	label {font-size:13px;font-weight: bold;}  
	input {
		/* border:1px solid $ltvGreen; */ 
		padding-left: 3px;
	} 
	input:not(.checkout-cancel):not([type="radio"]):not(.checkout-back):not(.checkout-continue):not([type="checkbox"]):not(#edit-commerce-payment-payment-details-credit-card-code):not(#edit-submit--24):not([type="image"]):not(#edit-search-block-form--4), select { 
		font-size: 13px;height:25px;   
		@include breakpoint($tablet-portrait-max) {
			width:100%;
		}
		@include breakpoint($tablet-landscape-min){ width:225px;}
	}
	input#edit-commerce-payment-payment-details-credit-card-code  {
		@include breakpoint($small-touch-max){width:20%;}
	}
	.description {
		font-size: .7em;
		margin-top: 5px;
	}  
	.view-commerce-cart-summary {
		table.views-table {
			font-size: 13px;
			width:100%;
			margin-bottom:5px;
			.views-field-quantity {
				text-align:center;
			}
			@include breakpoint($tablet-landscape-min){
				width:50%;
			}
			@include gen-purpose-border-radius; 
			thead {
				font-size: 11px;
				background-color: $ltvGreen;
				border-bottom:1px solid #ababab; 
				tr, th {background-color: $ltvGreen;}
			}
			th {
				padding:2px 3px;
			}  
			td {
			padding:5px 4px;
			}
			td.views-field-commerce-unit-price {
				text-align: right;
			}
		}
	} 
	table.commerce-price-formatted-components {
		font-size:16px;
		color:$drkBlueTxt; 
		width:50%;
		@include breakpoint($tablet-landscape-min) {
			width:33%;
		}
		td {
			padding:5px 4px; 
		} 
		td.component-total {
			background-color: $ltvYellow;
			/* color:$ltvGreen; */  
		}
	}
	#customer-profile-billing-ajax-wrapper {
		@include breakpoint($tablet-portrait-max){ 
			div.form-type-textfield, select, div.form-type-select {
				width:100%;
				input {width:100%;}
			} 
		}	
	}
	.addressfield-container-inline > .form-item {
		width:100%;
		@include breakpoint($tablet-landscape-min) {
			width:225px;
		} 
	}

	fieldset.checkout-buttons {
		padding:13px 10px;
		text-align: center;
		@include breakpoint($tablet-landscape-min){
			text-align: left;
		}
		input {
			font-size: 20px;
			padding:5px 4px;
			height:30px;
			margin:0 auto;
			clear:both; 
			@include breakpoint($tablet-landscape-min){float:none;clear:none;margin:0;} 
		}
		span {clear:both;display:block;margin-bottom:10px;margin-top:10px;
			@include breakpoint($tablet-landscape-min){ 
				display:inline; 
			}
		}
		input.checkout-continue {
			@include add-to-cart-basic; 
			clear:both;
			margin:0 auto;
			width:150px;
			font-size:20px !important;
			@include breakpoint($tablet-landscape-min){
			margin-right: 5px;
			display:inline;
			 
			} 
 
 		}
	} 
	.checkout-completion-message p{
		margin:10px 0; 
	} 
}

body.page-checkout-review {

	table.checkout-review {
		width:100% !important;
	}  

	div.checkout_review {
		padding-bottom: 20px; 
		border:2px solid $ltvGreen;
		background-color:rgba(255, 197, 43, 0.15);
		@include gen-purpose-border-radius;
		
		table.checkout-review {
			background:none;
			width:100%; 
			@include breakpoint($tablet-landscape-min) {width:80%;}
			tr.pane-title td{
				padding-top: 20px;
			}
			tr.pane-title, tr.pane-data {
				background:none !important;
			}	
			.field--type-addressfield, .pane-data-full {
				font-size: 13px; 
			}  
			.pane-data-full {
				padding-left:15px; 
			}
		}	
	} 
	/* PAYMENT */

	.commerce-credit-card-expiration select {
		width:20%; 
		@include breakpoint($tablet-landscape-min){width:50px;}
	} 
	fieldset.commerce_payment {
		
	}
	fieldset.checkout-buttons {
		clear:both;
	}


}




