body.section-contact {
	
	.l-main {
		//@extend %global-l_main-padding-top;
		padding-left: 1%;
		padding-right: 1%;

		.l-content { padding-top:0; }

		h1 {
			display: inline-block;
		    width: 100%;
		    text-align: center;
		    font-size: 3em;
		    @include headline-default;
		    text-transform: uppercase;
		}
		form {
			width:80%;
			margin:0 auto;

		}
		.form-item {
			width:100%;
			margin-bottom: 10px !important;
		}
		input[type="text"] {
			width: 100%;
		    margin-bottom: 5px;
		    height: 40px;
		    box-shadow: rgba(204, 204, 204, 0.29) 0px 2px 0px 0.5px inset;
		    @include text-input-format;
		}
		label {
			display: block;
		    color: $drkBlueTxt;
		    width: 100%;
		    margin-bottom: 5px;
		    font-size: 12px;
		}
		textarea {
			border:1px solid $ltvGreen;
			padding:8px 12px;
		    font-size: 12px;
		}
		input[type="submit"] {
			width:100%;
			height:40px;
			font-size: 1.25em;
			@include add-to-cart-basic;
		}
	}
		
	@include breakpoint($tablet-min) {
		padding:0;
	}
}

.ctools-modal-content {
	input[type="text"], textarea {
		
		width:100%;
		padding:3px;
		
	}
	input[type="text"] {
		@include breakpoint($desktop){
			width:33%;
		}
	}

	input[type="submit"] {
		@include add-to-cart-basic;
		
		font-size: 1.5em;
		padding-top: 6px;
		padding-bottom: 6px;
	}
	textarea {
		border:1px solid $ltvGreen;
		}

} 

