


.user-register-form {
	.description {
		width:100%;
		@include breakpoint($tablet-min){width:300px;}
	}

	@include breakpoint($small-touch-max){
		.password-strength {
			float:none;
			margin-bottom: 15px;
		}
	}


}