body.section-dvds {


	h1, h2  { @extend %headline; }
	
	@include ds-two-column-product-display;

	h1.dvd-title {
		@include text-shadow;
		font-size: 2em; /* mobile only */ 
		@include breakpoint($tablet-portrait){font-size:3em}
		@include breakpoint($tablet-landscape-min){font-size:3.5em;margin-bottom:0} 
	} 
	h3.dvd-author {
		font-variant: small-caps;
		font-weight: bold;
		font-size: 2em;
    	margin-bottom: 15px;
	}

	.dvd-cover-wrapper {
		
		img {
			display:block;
			background-image:url('/sites/all/themes/yogastreams/images/album-drop-shadow.png');
			background-position:0 100%; 
			background-repeat: no-repeat;
			background-size: 100% auto;
			padding-bottom: 2.5%;
		} 
	}
	.dvd-price {
		display: block;
		font-weight: 900;
		color:$ltvGreen;
		font-size: 1.5em;
		margin:3px 0;
	}

	input[type="submit"] {
	@include add-to-cart-basic;
	font-size:1em;
	&:hover {
		@include add-cart-bg-hover;
	}
	
	@include breakpoint($tablet-landscape-min) {
		font-size:1.4em;
		margin-bottom:10px;
	}
}

	
	div.dvd-specs {
		font-size:.75em;
		.label-inline {display:inline;font-weight:bold;}
	} 
	


}