 /*panels flexible 1 needs a top style rule. margin-top creates problem for abs positioned
so therefore us top. top then needs to be added to stick footer. use a SASS add function */
$top:555px;

body.front {
  
	.pane-homepage-playa-panel-pane-1 {
		// display:none;
	} 
	.block--block-18 {
		position: absolute;
		top:10px;
		width:100%;
		@include breakpoint($tablet-min){
			display:none;

		}
		.block__content {
			margin:0 auto;
			width:320px;
		}
	}	

	.block--block-17 {
		position: absolute;
		display:none;
		@include breakpoint($tablet-landscape-min){
			display:block;
			right: 0px;
		    top: 175px;
		}
		@include breakpoint($tablet-portrait){
			display:block;
			left:0;
			top:100px;
			width:100%;
			.block__content {
				width: 560px;
    			margin: 0 auto;
			}
		}
	}
	.block--block-19 { /* SAL Concert video for $tablet min*/
		position: absolute;
		display:none;
		@include breakpoint($tablet-landscape-min){
			display:block;
			right: 0px;
		    top: 175px;
		}
		@include breakpoint($tablet-portrait){
			display:block;
			left:0;
			top:100px;
			width:100%;
			.block__content {
				width: 560px;
    			margin: 0 auto;
			}
		}
	}
	.block--block-20 { /* SAL concert for small touch */
			position: absolute;
			top:10px;
			width:100%;
			@include breakpoint($tablet-min){
				display:none;

			}
			.block__content {
				margin:0 auto;
				width:320px;
			}
		}	
	.l-page {
		/* height:2200px; */
		@include clearfix;
			background-image: url('/sites/default/files/bg-ana-homepage.png');
		
		@include breakpoint($tablet-min){
			background-image: url('/sites/default/files/bg-ana-homepage.png');
		}
		background-repeat: no-repeat;
		background-position: -160px 60px; 
		background-size:auto; 
	
		@include breakpoint($touch-landscape) {
			 
		}   
		@include breakpoint($tablet-portrait) {
			background-position:-180px 55px;
			background-size:auto;
			}

		@include breakpoint($tablet-landscape) {
			background-position:-180px 78px;
		}
		@include breakpoint($desktop) {
			
			background-position:center 91px;
		}
		.l-main {
			padding:0; 
		}
		.l-content {
			padding-top:0px;
			@include breakpoint($tablet-min){
			padding-top:0; 
			}
		}
		.block--block-15 {
			display:none;  /* remove after livestream block is removed*/
			@include breakpoint($tablet-portrait){
				display: none;
			}
			@include breakpoint($tablet-landscape-min) { /* remove after livestream block is removed*/
			display:block;
			position: absolute;
		    width: 440px;
		    left: 376px;
		    top: 65px;
			}
		} 
		.panels-flexible-1 {
			position:relative;
			background-color: #fff;
			border-top:55px solid $ltvYellow;
			border-bottom:2px solid $ltvYellow;
			border-left:2px solid $ltvYellow;
			border-right:2px solid $ltvYellow;
			border-top-left-radius:10px;
			border-top-right-radius:10px;
			top:990px; 
			@include breakpoint($tablet-min){
				top: $panelsFlexible1Top;	
			}
			@include all-purpose-bg-shadow; 
			width:100%;
			/*
			@include breakpoint($tablet-portrait) {
				top:550px;
			}
			@include breakpoint($tablet-landscape-min) {
				top:550px;
			}
			@include breakpoint($tablet-portrait){
				height:850px;
			}
			@include breakpoint($tablet-landscape){
				height:800px;
			}
			@include breakpoint($desktop){
				height:800px;
			}
			*/
			.panels-flexible-region {
				width:100%;
				padding-top:10px; 
			} 
			
			.pane-albums-for-homepage-footer-promo {
				clear:both;
				h2{
					position:absolute;
					top:-44px;
					left:0;
					right:0;
					text-align:center;
					background: none;
					text-transform: uppercase;
					margin-top:0;
					color:#fff;
					padding-right:0px; 
					margin-right: 0;
					font-size:2.5em;
					letter-spacing:2px;
					text-shadow:2px 1px 2px rgba(50, 50, 50, 0.6);
					@include breakpoint($tablet-portrait){
						left:50px; 
						text-align:left;
						}
					@include breakpoint($tablet-landscape){
						left:25px;
						text-align:left;
						}
					@include breakpoint($desktop){
						display:block;
						width:100%;
						left:115px;
						text-align:left;
						}
				}
			} /* END PANE ALBUM FOOTER PROMO */

			
		.pane-webform-client-block-487 {
			background-color: #fff;
			position:relative;
			border:2px solid $ltvOrange;
			border-radius:8px;
			height:50px;
			top: -170px;
 			@include breakpoint($tablet-portrait ){top: -170px;}
			@include breakpoint($tablet-landscape-min){top: -133px;}
			width:95%;
			margin:0 auto;
			padding:0px 0px;
			overflow:hidden;
			h2.pane-title {display:none;} 
			form {padding:0;margin:0;}
			label {display:none;}
			
			.form-item, .form-actions {padding:0;margin:0;display: inline}
			
			z-index:10;
			input.join-us-homepage-footer {
				border:none;
				height:36px;
				/* color:#ddd; */ 
				padding-left:30px;width:50%;float:left;
				position: relative;
				top:5px;
				left:5px;
				
			}
			input.webform-submit {
				background-color:$ltvOrange;
				border:none;
				color:#fff;
				float:right;
				text-transform:uppercase;
				font-size:1.5em;
				font-family:$oswald;
				height:50px;
				width:40%;
					&:hover { @include add-cart-bg-hover;}
				}
			@include breakpoint($desktop){
				position: absolute;
				top: -47px;
				left: 490px;
				width: 430px;
				height: 42px;
				form {
					width:430px;
					height:38px;
					position:relative;
					.webform-component-email {width:60%;float:left;}
					input.join-us-homepage-footer {width:100%;top:0;left:0;} 
					input.webform-submit {height:40px;}
					}
				}	
			@include breakpoint($tablet-landscape){
				position: absolute;
				top: -47px;
				/*left: 490px; */
				right:2%;
				width: 430px;
				height: 42px;
				form {
					width:430px;
					height:38px;
					position:relative;
					.webform-component-email {width:60%;float:left;}
					input.join-us-homepage-footer {width:100%;top:0;left:0;} 
					input.webform-submit {height:40px;}
					}
				}		
			} /* END WEBFORM CLIENT BLOCK */

		.pane-menu-menu-homepage-footer-promo {
			/* BASE SETTINGS */
			padding-top: 12px;
			@include clearfix; 
			
			ul { @include clearfix; 
				width:100%; 
				/*new try out */
				text-align: justify;
    			font-size:0;
    			padding-left:0;
    			width:95%;
    			margin:0 auto;
    			
			}
			/*new try out */
			ul::after {
				content: '';
			    display: inline-block;
			    width: 100%;
			}
			/* END BASE SETTINGS */
			@include breakpoint($tablet-portrait){
				ul {
					display:block;
					/* width:750px; */
					padding-left:20px; /* SAME AS PANE TITLE */
					text-align: left;
					width:100%;
					}
				}
			@include breakpoint($tablet-landscape-min){
				ul { 
					display:block;
					/* width:750px; */
					padding-left:115px; /* SAME AS PANE TITLE */
					text-align: left;
					width:100%;
					}
				}
			li {
				display:inline-block;
				font-weight:bold;
				font-size:1.2rem;
				@include breakpoint($tablet-portrait){font-size:1.2rem;margin-right:45px;}
				@include breakpoint($tablet-landscape-min){font-size:1.2rem;margin-right:45px;}
				a {
					color:$blueGreen;
					/* @include text-hover-ease-in; */
				}
				
				a:hover {
					color:$ltvOrange;
					}
				}
			} /*end pane-menu-menu-homepage-footer-promo */

		.pane-albums-for-homepage-footer-promo-mobile {
			h2.pane-title {
				position: absolute;
			    top: -44px;
			    left: 0;
			    padding-left:20px;
			    @include breakpoint($tablet-portrait){
			    	padding-left:20px;
			    }
			    @include breakpoint($tablet-landscape-min){
			    	padding-left:110px;
			    }
			    
			    text-align: left;
			    background: none;
			    text-transform: uppercase;
			    margin-top: 0;
			    color: #fff;
			    padding-right: 0px;
			    margin-right: 0;
			    font-size: 2.5em;
			    letter-spacing: 2px;
			    text-shadow: 2px 1px 2px rgba(50, 50, 50, 0.6);
				}
			.view-albums-for-homepage-footer-promo-mobile {  
				clear:both;
				@include clearfix;
				margin-top:-30px;
				@include breakpoint($tablet-landscape-min) {
					margin-top:0;
				}


				.view-content {
					@include clearfix; 
					@include breakpoint($tablet-landscape-min) {
						margin:0 auto;
						width:750px;
						padding-top:25px;
					}
					@include breakpoint($tablet-portrait) {
						margin:0 auto;
						width:100%;
						padding-top:0px;
					}
				.views-row {
					@include breakpoint($small-touch-max){
					/* control row breaks here */
					width:50%;
					float:left;
					&:nth-child(2n+3) {
						clear:left;
						};
					}	
					@include breakpoint($tablet-landscape-min){
						width:25%;
						float:left;
						&:nth-child(4n+5) {
							clear:left;
							};
						}
					@include breakpoint($tablet-portrait){
						width:33.333%;
						float:left;
						&:nth-child(3n+4) {
							clear:left;
							};
						}	
					.node {
						color:$drkBlueTxt;
						border:1px solid #ccc;
						width:80%;
						margin:0 auto 20px auto;
						padding-bottom: 20px; 
						.album-cover-main {
							width:100%;
							a {width:100%;
								color:$drkBlueTxt;
								img {width:100%;}
							} 
						}
						h3, .teaser-album-add-cart, .field-name-commerce-price {
								margin:5px 0 0 12px;
							}
							h3.teaser-album-title {
								text-transform:capitalize !important;
							}
							h3 {
								color:$drkBlueTxt !important;
								text-transform:capitalize !important;
								a { color:$drkBlueTxt !important;}
								a:hover {
									@include text-hover;
								}
							}	
							input[type="submit"] {
								@include add-to-cart-basic; 
							}
							span {display:none;}
							}
						}
					}				
				} /* END view-albums-for-hompeage-footer-promo-mobile */
			} /* END view-albums-for-hompeage-footer-promo-mobile */
		} /*PANELS FLX 1 */
	} /* END L.PAGE */ 
	.push { 
		height:1640px;
		@include breakpoint($tablet-min) {
			height:$frontPagePushHeight;	
			}
		}	
} /* END BODY FRONT */ 