body.section-ltv-artist {
	.view-content {
			@include clearfix; 
		}
	
	.field-name-field-album-cover-front, h3, .field-name-commerce-price, .teaser-album-add-cart {
		margin-bottom: 7px; 
	}

	h3.teaser-artist-name {
		color:$drkBlueTxt;
	}
	input[type="submit"] {
		@include add-to-cart-basic;
		width:160px;
		padding:.5em 0;
		}	

	@include breakpoint($tablet-min) {
		.views-row {
			float:left;
			width:25%;
			margin-bottom:2em;
		}
		.view-row:nth-child(4n+5) {
			clear:left;
			border:3px solid green;
		}

	}
	@include breakpoint($small-touch-max){
		.views-row {
			float:left;
			width:50%;
			margin-bottom:2em;
		}
		.view-row:nth-child(2n+3) {
			clear:left;
			border:3px solid green;
		}		

	}
}