body.section-mn-media-genre {
	.feed-icon {
		display:none;
		}	
	.l-content {
		position:relative;
		padding-bottom:7px;
		padding-top:50px;
		}
	h1 { @extend %headline; }

	.view-content { 
		padding-left:0;
		padding-top:25px;
		color:$drkBlueTxt;
		font-weight:900;
		font-family:$mainNav;
		@include clearfix;
		}
	ul {}

	li.views-row {
		float:left;
		margin-bottom:25px;
		img {
			@include browse-albums-thumb;
			position:relative;
			display:block;
			margin-bottom:5px;
			@include product-display-shadow(3.5%);
		}
		h3 {
			@include browse-albums-title;
				&:hover { @include text-hover; 
				};
			}
		h3.teaser-artist-name {
			@include browse-albums-artist;
			}	
		.field-name-commerce-price {
			@include browse-albums-price;
			}
		input[type="submit"] {
			@include browse-albums-add-to-cart;
			}
		}
	/* control row breaks */
	@include breakpoint($small-touch-max){
		li.views-row {
			width:50%;
			.li-wrapper {
				width:100%;
				padding-right:1em;
			}
		}
		li.views-row:nth-child(2n+3) {
				clear:left;
			}
	}
	@include breakpoint($tablet-portrait){
		li.views-row {
			width:33.33%;
			
			.li-wrapper {
				width:160px;
			}
		}
		li.views-row:nth-child(3n+4) {
				clear:left;
			}
	}
	@include breakpoint($tablet-landscape-min){ 	
		li.views-row {
			width:25%;
			
			.li-wrapper {
				width:160px;
			}
		}
		li.views-row:nth-child(4n+5) {
				clear:left;
			}
		}	
		
}