body.section-privacy-policy, body.section-terms-and-conditions {

.l-content {
	width:90%;
	@include breakpoint($tablet-min){width:80%;}
	margin:0 auto;
	h1:first-child{
	display:none;
}
h3 {
	font-size:2em;
}
p {
	margin-bottom: 2em;
	width:80%;
	width:100%;  
	@include breakpoint($tablet-min){width:80%;}
}

	}
} 