body.section-search-products {
	
	footer {display:none;}
	
	.l-page {
		/* min-height: 1200px; */
		margin-bottom: 0; /* this offsets the sticky footer margin of -475, because of columns(?) */	

	}

	.l-main {
		
	}

	.l-content {
		.view-content {
			@include clearfix; 
			
		}
		.views-exposed-widgets {
			position: relative;
			margin-bottom: 20px;
		}
		.views-widget {
			input[type="text"] {
				height:30px;
				border-radius: 4px;
			}
		}	
		.views-exposed-widget.views-reset-button,  .views-exposed-widget.views-submit-button {
			position: absolute;
			bottom: 0;
			input[type="submit"] {
    			width:100px;
    			height:30px;
    			@include add-to-cart-basic;
    			background-color: $ltvGreen;
    		}

		}
		.views-exposed-widget.views-submit-button {
			left: 260px;
    		width: 100px;
    	}
    	.views-exposed-widget.views-reset-button {
			left: 370px;
    		width: 100px;
    	}

		.views-exposed-form .views-exposed-widget .form-submit {
	    margin-top: 0;
		}

		.views-row {
			width:50%;
			@include breakpoint($tablet-min){
				width:25%;
			}
			display:inline;
			float:left;
			font-size: 12px;
			padding-right: 3%;
			margin-bottom: 20px;
			
			.result-item {
				margin-bottom: 5px;
				div {
					margin-bottom: 5px;
				}
			}
			.result-image {
				width:100%;
				img {
					width:100%;
				}
			}	
			.result-title {
				font-weight: bold;
			}	
			
			.result-type {
				display:none;
			}
		}
		@include breakpoint($small-touch-max){
		.views-row:nth-child(2n+3) {
				clear:left;
				border:0px solid red;
			}	
		}	
		@include breakpoint($desktop){
			.views-row:nth-child(4n+5) {
				clear:left;
				border:0px solid red;
			}
		}

		.mnmedia_sample {
		    width: 90%; 
		    height: 20px;
		    position: relative;
		    background: #333;
		    .play_pause {
		    	height:19px;
		    	width:19px;
		    	right:0;
		    	background-size: 200%;
		    }
		}


		/*
		@include breakpoint($tablet-min){
			width:75%;
			float:left; 
			clear:left; 
			margin-left:0;
			@include clearfix;
		} */ 
	}
	aside.l-region--sidebar-first {
		display:none;
	}
	aside.l-region--sidebar-second {
		display:block;
		display:none;
		/*
		@include breakpoint($tablet-landscape-min){
			width:25%;
		}
		*/
		/* border:1px solid red; */
		float:right;
		@include grid-span(3, 10, 12);	
		.block--facetapi {
			margin-bottom: 20px;
			ul {
				padding-left: 2em;
				font-size: 14px;
				li {
					margin-bottom: 5px;
				}
			}
		}

	} 
	input[type="submit"] {
		@include add-to-cart-basic;
		width:100%;
		font-size: 1.5em;
	}


}