body.page-user-videos {
	ul.action-links {display:none;} /* DON'T FORGET!!!, MAY NEED THIS LATER */
	table.views-table {
		background-color: rgba(237, 242, 244, 0.5);
		tr {
			 border-bottom: 1px solid $ltvGreen;
		}
		width:100%;
		td {
			padding:5px;
			vertical-align: top;
		}
		td.views-field-order-id {
			vertical-align: top;
		}
	}
} 