body.section-video-classes {
	.jw-title-primary {display:none;}
	.jw-title {display:none;}
	@include breakpoint($tablet-portrait-max){
		.l-content {
			padding-top:20px;
		}
		.class-wrapper {
			width:100%;
		}
		.user-assettS {
			width:100%;
			clear:both;
		}
	}
	h1 {margin-bottom: 10px;}
@include breakpoint($tablet-landscape-min) {
	.class-wrapper {
		width:85%;
	}

}
	
	.group-footer {
		font-size: 11px;
		padding-top: 5px;
		span.yoga-class-details {display:inline;
			.label-inline {font-weight: bold;display: inline}
			}
		span.yoga-class-details::after { 
    			content: "; ";
			}
	}	
}