/**
 * $FONT-FACE
 */

@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

@include establish-baseline($base-font-size);


/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-family: $arial;
  color:#125381;
  line-height:1.2;

}
/**
 * $LINKS
 */
a, a.active {
 color:$drkBlueTxt;text-decoration:none;
 	&:hover {
 	@include text-hover;
	} 
}

a.orange {
	color:$ltvOrange;
	font-weight:bold;
}
a.orange:hover {
	text-decoration:underline;
}


p {
	line-height:1.2;
}