

.block--block-9 {
	color:#fff;
	ul {list-style-type:none; margin:0 auto; @include clearfix;}
	p {margin:0;}
	span {
		font-size:2.4em;
		font-family:Arial, sans-serif;
		text-align:center;
		width:100%;
		display:block;
		margin-bottom: 20px; /*mobile only */
	}
	ul.footer-social-icons {
		/*width:50%; */
		margin: 0 auto;
		padding: 0;
		text-align:center;
		border:0px solid red;
		width:90%;
		@include breakpoint($tablet-portrait) {width:75%;}
		@include breakpoint($tablet-landscape) {width:75%;}
		@include breakpoint($desktop) {width:75%;}
		li { width:30%;
			@include breakpoint($tablet-min) {width:14%;}
		
			 /*??? don't know why it works */
			display: inline-block;
				a { 
					img {
						@include breakpoint($tablet-portrait) {height:50px;width:50px;}
						@include breakpoint($tablet-landscape) {height:70px;width:70px;}
						@include breakpoint($desktop) {height:75px;width:75px;}
					}
				}	
			}	
		}	
	ul.footer-menu {
		margin:30px 0;
		@include breakpoint($tablet-min) {margin: 58px 0;}
		padding: 0;
		text-align: center;
		border:0px solid red;
		font-size:2em;
		@include breakpoint($tablet-portrait) {font-size:1em;}
		@include breakpoint($tablet-landscape) {font-size:1.25em;}
		@include breakpoint($desktop) {font-size:1.65em;}
		font-weight:600;
		li {
			margin-bottom: .5em;
			/* display:inline; */
			@include breakpoint($tablet-min) { 
				display: inline;	
				margin-bottom:0;
			}
			a {color:#fff;
				&:hover {@include text-hover;}
				}
			} 	
		li.sep {
			display:none;
			@include breakpoint($tablet-min) {
				display: inline;	
			}
			margin:0 7px;
		}	
		
	}
	.footer-logo {
		text-align: center;
		img {
			width:95%;
			margin:0 auto 10px auto;
			display:block;
			@include breakpoint($tablet-min) {
				width:50%;
				margin:0 auto 18px auto;
			}
		}
		span.copyright {
			font-size:1.5em;
			@include breakpoint($tablet-portrait) {font-size:1em;}
			@include breakpoint($tablet-landscape) {font-size:1.25em;}
			@include breakpoint($desktop) {font-size:1.4em;}
		}
	}



}