body.not-logged-in {
	#modalContent {
		position: relative;
		padding-bottom: 55px;

		.popups-container {padding-bottom:20px;}
		.popups-close {
			position: absolute;
			left:90%;
			top:10px;
		}	
		#modal-content {margin:0 auto;padding:1em 0;}
		.modal-title {
			display: inline-block;
		    width: 100%;
		    text-align: center;
		    @include headline-default;
		    @include breakpoint($small-touch-max) {
		    	font-size: 2.5em;
		    }
		    text-transform: uppercase;
		}
	.messages--error {margin-bottom: 20px}
		
	form.user-login, form.user-register-form, form.user-login--2 {
		width:90%;
		margin: 0 auto;

		.form-item {
			display: block;
			width:100%;
			margin:0 auto 10px 0 !important;

			label {
				display:block;
				color:$drkBlueTxt;
				width:100%;
				margin-bottom: 5px;
			}
			.form-item-pass-pass2 label {white-space: nowrap}

			input {
				width:100% !important;
				margin-bottom: 5px;
				height:40px !important;
				box-shadow: rgba(204, 204, 204, 0.29) 0px 2px 0px 0.5px inset;
				@include text-input-format;
			}
			.description {
				@include breakpoint($small-touch-max){
					display:none;
				}
				width:100%;
				text-align: center;
				color:#dedede;
			}
			.password-strength {
				width:100%;
				margin:7px 0 10px 0;

			@include breakpoint($tablet-min) {	
			    float: right;
			    margin-top: 1.2em;
			    width: 20em;
			    margin-bottom: 10px;
				}
			}
			.password-indicator {
				height:10px;
			}
			.password-suggestions {
				color:#222;
				ul {margin-bottom: 5px;
					li {margin-bottom:5px;}
				@include breakpoint($tablet-min) {
					margin-bottom:20px;
					li {margin-bottom:10px;}

					}
				}
			}

		}

		.password-confirm:first-child {
			display:none;
			}
		
		ul {
			padding:0;
			margin-bottom: 20px;
			li {margin-bottom: 10px;}
			li a {
				display: block;
				text-align:center;
			}	
		}
		input[type="submit"] {
			width:100% !important;
			height:40px;
			font-size:2em;  
		}  
	}
}

}