#block-system-main-menu {
	@include clearfix;
	position:relative;
	margin:0;
	width:100%;
}
header.l-header {
    @include breakpoint($small-touch-max){
        position: fixed;
        z-index:50;
    }
}

#top-nav {
    background-color:$ltvGreen;
    border-top:1px solid #cfe9c9;
    border-bottom:1px solid #82b182;
    width:100%;
    position:relative;
    @include clearfix;
    @include breakpoint($desktop) {
        height:30px;
    }
    @include breakpoint($tablet-landscape) {
        height:25px;
        background-color:$ltvGreen;
    }

    ul {
        margin:0 auto;
        border-left:1px solid $navBorderDark;
        border-right:1px solid $navBorderLite;
        list-style-type:none;
        height:100%;
        padding:0;
        @include breakpoint($desktop) {
            width:$main-content-desktop;
        }
        li {
            border-left:1px solid $navBorderLite;
            border-right:1px solid $navBorderDark;
            display:block;
            /* width:121px; */
            float:right;
            margin-left:0px;
            position:relative;
            height:100%;
            text-align: center;
            a {color:#fff;display:block;
                @include breakpoint($tablet-landscape-min){padding:4px 15px 0 15px;}
                &:hover {@include text-hover}; 
            }
        }
    }
}

#main-nav-wrapper {
    width:100%;
    border-top:1px solid #199097;
    border-bottom:1px solid #8cb8c8;
    clear: both;
    background-color: $blueGreen;
    position:relative;
    @include breakpoint($tablet-portrait){
        @include page-side-padding-portrait;
    }
    @include breakpoint($desktop){
           /* height:60px;  *//*Should be 72 */
            overflow:visible; 
            height:60px; /* TEMP? NEEDED to KEEp AJAX from breaking Nav *************/

        }
}
#main-nav-inner-wrapper {
    margin:0 auto;
    padding:0;
    position: relative;
    @include clearfix; 
    @include breakpoint($desktop){
            /*height:59px; *//* WHY? */ /*Should be 72 */
            width:$main-content-desktop;
            padding-left: 0; 
        }
    @include breakpoint($tablet-landscape){
            /*height:59px; *//* WHY? */ /*Should be 72 */
            width:100%;
            padding: 0 10px;
        }   
    }

ul#ltv-main-nav {
    font-size:1.15em;
    @include clearfix;
    font-family:$mainNav;
    background:none;
    position:relative;
    padding:0;
    display:flex;
    display:-webkit-flex; 
    @include breakpoint($desktop) {
        width:100%;
    }
    @include breakpoint($tablet-landscape) {
        /* min-width:650px; */
    }

    li {  
        color:#efefef;
        position: relative;
        align-items:center;
        /* float:left; */
        @include breakpoint($desktop){
            height:59px; /* WHY? */
        }
        @include breakpoint($tablet-landscape){
            height:49px;
        }
        @include breakpoint($tablet-portrait){
            height:39px;
        }
    }
    li a, li.dropdown span {
        display:table-cell;
        /*height:59px; */
        vertical-align: middle;
        @include breakpoint($tablet-landscape){
            height:49px;
        }
        @include breakpoint($desktop){
            height:59px;
        }

    }
     
    li.sep, l.txt {
        @include breakpoint($desktop){
            padding:0 1%;
        }
        @include breakpoint($tablet-landscape){
            /* padding:0 1.5%; */
            padding:0 1%;
        } 
    }
    li.home-logo { 
        /* width:31.91%; */
        width:297px; 
        /* height:49px; */ 
        overflow: hidden;
            a {
                padding:0 !important; 
                img {
                width:297px;height:49px;position:relative;
                @include breakpoint($desktop) {
                    top:-3px;
                    vertical-align: middle;
                    }
                }
            } 
         }  
    li.home-icon {
        padding:0px 10px 0 10px; 
        display: none; 
        @include breakpoint($desktop) {
           display: block;
           img {
            vertical-align: middle;
                }
            } 
        }
    li.lounge {
        visibility: hidden;
    }    
    li.cart { 
        padding:0;
        margin-left: auto;
        @include breakpoint($desktop){
            padding:0 10px;
            background-color:$navCartBg;
            border-left:1px solid #157A80;
            margin-left: auto
            }
        text-align: center;
        a {
            font-size:1.95em; 
            /* @include breakpoint($desktop){font-size:1.65em;} */
        }  
    }
    li#search-open {
        float:right;
        padding-left: 20px;
        cursor:pointer;
        @include breakpoint($desktop){
            padding-left: 10px;
            }
        }
    } 

#ltv-main-nav li.home-icon a { padding:0 !important; }

#ltv-main-nav a, #ltv-main-nav li.no-anchor span{
    /* @include breakpoint($desktop){padding: 0 14px;} */
    /*@include breakpoint($tablet-landscape){ padding:0 0px;} */
    
    color: #efefef;
    text-decoration: none;
    @include text-hover-ease-in;
    
    } 

#ltv-main-nav li:hover > a,  #ltv-main-nav li.no-anchor span:hover {
    color:$yellowOrange;
    @include text-hover;
    cursor:pointer;
}

.flaticon-shopping-cart13:before, .flaticon-magnifier13:before,  {
    
    @include breakpoint($tablet-landscape){
        line-height: 49px;
    }
    @include breakpoint($desktop){
        line-height: 59px;
    }
    
    vertical-align: middle;
}
.flaticon-magnifier13:before {
    font-size:1.25em;
}

/* BEGIN SUB NAV */

#ltv-main-nav li ul {
    padding-left:0; 
    position:absolute;
    left:0;
    top:50px; /* make this equal to the line-height of the links (specified below) */
    width:140px;  
    background-color:$blueGreen;
    z-index:30;  /* ABOVE SOCIAL MEDIA, SEARCH CONTAINER */
    display:none; 
    @include drop-down-nav-bg-shadow;
    border-bottom: 0px solid #efefef;
    border-radius:6px;
    
    overflow: visible;  
}

#ltv-main-nav li ul li {

  position: relative;
  display: block;
  margin: 0;
  clear: both;
  width: 100%;
  height: 40px;
  padding: 10px 0px 8px 25px;
  border-top: 1px solid #efefef;
  border-bottom: 0px solid #efefef;
  font-size: 15px;
  letter-spacing: 1px;
    a {
        display:inline; 
        float:none;
    }
   
}

#ltv-main-nav li ul li:first-child > a:after {
        content: ''; 
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
    }

.menu-cart-info {
    display:inline;
    color:#fff;
    font-size:11px;
position:relative; 
    top:-10px;
} 

#search-container {
    display:none;
    position: absolute;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    right:0;
    top:59px;
    width:635px;
    height:45px;
    border:2px solid $ltvGreen;
    z-index:20;
    background-color: rgba(255, 197, 43, 0.15);
    padding:5px; 

    form {height:100%;}

    .views-exposed-widgets {
        margin:0;
        width:100%;
    }
    .views-exposed-widget {
        padding-top: 0;
        padding-right: 10px;
        width:80%;
        label {
            display:none;
        }
        .form-item {
            width:100%;
        } 
        input[type="text"] {
            width:100%;
            height:31px;
            @include text-input-format; 
        } 
    }    
    
    .views-submit-button {
        padding:0;
        width:20%;
        float:right;
    }
    input[type="submit"] {
        margin-top: 0;
        width:100%;
        @include add-to-cart-basic;
        height:31px;
    }
    .views-reset-button {
        display: none;
    }

}
/* END LTV-MAIN-NAV */

#mobile-nav-wrapper {
    width:100%;
    }

ul#mobile-header {
    list-style-type:none;
    width:100%;
    @include clearfix;
    clear:both;
    margin:0;
    padding:5px 11px;
    background-color: $blueGreen;
    position:relative; 
    /* float:left; */
    li.home-logo {
        float:left;
        width:80%;
    }
     li:last-child {
        float:right;padding-top:8px;height:50px;
        width:50px;text-align:center;cursor:pointer} 
 
    .icon-menu {
        border:1px solid #fff;
        border-radius: 5px;
        color:#fff;
        background-color: $blueGreen;
        font-size:2em;
        padding:3px 6px;
        &:hover {@include text-hover};
    }
} /* END MOBILE HEADER */
 


ul#mobile-nav {
    display:none;
    @include breakpoint($desktop-menu) {display:none;};     
    position:absolute;
    top:0px; 
    left:0;
    width:100%;
    background-color: $ltvGreen;
    font-size:1.25em;
    font-family: $arial; 
    z-index:20;
    padding:0;
    @include all-purpose-bg-shadow;

    li { 
        &:hover {
            background-color:$blueGreen; 
        };
        /* padding:10px 0 10px 12.5%;  */
        border-bottom: 1px solid #fff;
        a {
            /*  */
            padding:10px 0 10px 3%;  
            display:block;
            color: #fff;
               &:hover {
                @include text-hover;
            }
        }

        [class^="flaticon2-"]:before, [class*=" flaticon2-"]:before,
        [class^="flaticon-"]:before, [class*=" flaticon-"]:before {   
            font-weight:500;
            font-size:1.25em;
            margin-right: 15px;
        }
    }
    li.search {
        height:44px;
        padding:7px 0 7px 12.5%;  
        form {
            position:relative; 
            display:block;
            width:100%; 
            height:30px;
            
            input.form-text {
                position:relative; 
                border-left:1px solid #fff;
                left:40px;
                z-index:50;
                color:#fff;
                font-size:.8em; 
                padding-left:2%;
                background-color:$ltvGreen;
                width:80%; 
                height:30px; 
                border-radius:0;
                }
            input.form-submit {
                position:absolute;
                left:0;
                 
                background:transparent;
                height:30px; 
                margin-right:10px; 
            }
        }
    }
    li.mobile-back-btn {
        margin-left:-20px;
    } 
}
/* END MOBILE NAV */

/* SB SEARCH */
/*
.sb-search {
    position: relative;
    margin-top: 10px;
    width: 0%;
    min-width: 60px;
    height: 60px;
    float: right;
    overflow: hidden;

    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;

    -webkit-backface-visibility: hidden;
}
.form-text { 
position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 60px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}
input[type="search"].form-text {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}
.form-text::-webkit-input-placeholder {
    color: #efb480;
}

.form-text:-moz-placeholder {
    color: #efb480;
}

.form-text::-moz-placeholder {
    color: #efb480;
}

.sb-icon-search,
.form-submit   {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
} 
.form-submit {
    background: #fff; 
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}
 .sb-icon-search {
    color: #fff;
    background: #e67e22;
    z-index: 90;
    font-size: 22px;
    font-family: 'Flaticon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
    content: "\e003";
}
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #da6d0d;
    color: #fff;
    z-index: 11;
}
.sb-search.sb-search-open .form-submit,
.no-js .sb-search .form-submit {
    z-index: 90;
}*/
/* END SEARCH as per sb tut */

/* YOGA CLASSES NAV */
#search-block-form {
    font-family: 'Flaticon';
}

/*
.sb-icon-search:before {
    content: "\e003";
    color:$drkBlueTxt !important;
    
}
.sb-icon-search:hover {
    color:red;
    
}
button:hover {
    color:red;
}
#edit-actions {
    border:none;
    background:none;
    button {
        border:none;
    background:none;
    }
    input {
        background:white;
    }
    img {display:none;}
} */
/*
#search-block-form #edit-submit:before {
    content: "\e003";
}
#search-block-form #edit-submit {
    border:2px solid yellow;
    content: "\e003";
}
*/
#block-menu-menu-yoga-classes ul {
 padding-left: 20px
}

#block-menu-menu-yoga-classes ul li a {
    font-weight: bold; 
    color:orange;
}

#block-menu-menu-yoga-classes ul li a:hover {
    text-decoration: underline;
}
