/* GLOBAL */
#block-block-6 {position:absolute;}

ul.social-media-int {
	list-style-type: none;
	padding:0;
	display: inline-block;
	width:100%; 
	padding-left:1px; 
	text-align: center;
	@include breakpoint($tablet-landscape-min){
		text-align: left;
		margin-bottom:5px;
	}
	li {
		display:inline;  
		/* margin-right:7px; */
		margin:0 5%;
		@include breakpoint($tablet-all) {
			margin:0 12px 0 0;
		}
		@include breakpoint($desktop) {
			margin:0 3% 0 0;
		}
		a:before {
			font-size:2.4em;
			line-height:1;
			}	
		}
	}

/* INDV PAGES */

/* YOGA-LANDING ************/
body.section-yoga #block-block-6, body.section-yoga-landing #block-block-6 {
	width:100%;
	top:8px;
	ul {text-align:center;}
	@include breakpoint($tablet-min) {
		left:50%;
		top:8px;
		width:240px;
		ul {text-align:left;}
		}

	}
body.section-yoga-classes .social-media-int-ds {
	ul {text-align: left;margin-bottom: 12px;
		li {
			margin:0 2% 0 0;
		}
	}	
}

/* BROWSE ALBUMS */
body.section-browse-albums #block-block-6 {
	width:100%;
	top:9px; 
	ul {text-align:center;}  
	@include breakpoint($tablet-portrait){
		right:0;
		top:9px;
		width:50%;
		ul {text-align:right;}
		}
	@include breakpoint($tablet-landscape-min){
		left:310px;
		top:9px;
		width:240px;
		}
	@include breakpoint($desktop){
		ul {text-align: left;padding-left:1px}
		}		
	}
/* ALUBM DISPLAY */
body.section-productmnmediaalbumdisplay, 
body.node-type-product-mnmedia-album-display, 
body.section-ltvalbums, 
body.section-yogaclass,
body.section-latest, 
body.section-featured, 
body.section-most-popular,
body.section-mn-media-genre {
 	#block-block-6 {
		top:10px;
		width:100%;
		@include breakpoint($tablet-all){
			right:11px; /* align w/ mobile menu icon in toolbar */ 
			top:0px;   
			width:220px;
			border:0px solid red;
		}
		@include breakpoint($desktop){
			border:0px solid red;	
			right:0;
			top: 7px;
			width:50%;			
		} 
		ul {
			text-align:center;
			@include breakpoint($desktop) {
				display: inherit;
				text-align: right;
			}
			@include breakpoint($tablet-all) {
				text-align:right;
				display: inherit;
				}
			}
		}
	}

body.section-productmnmediaalbumdisplay #block-block-6 { 
	@include breakpoint($tablet-all){top:0px;}
	@include breakpoint($desktop){top:0px;}
}

/* BROWSE DVDS (DVD View) */
body.section-dvds #block-block-6 {
		@include breakpoint($tablet-landscape-min){
			/* right:0; */
			left:405px;
			top:9px;  
			width:240px; 
		}
		@include breakpoint($tablet-portrait){
			/* right:0; */
			right:0;
			top:9px;  
			width:50%; 
			ul {text-align:right;}
		}
		@include breakpoint($small-touch-max){
			width:100%;
			top:9px;
		}
	}

/* MISSION  ************/	
body.section-mission .social-media-int-ds { 
	position:absolute;
	top:7px; 
	width:100%;
	@include breakpoint($tablet-portrait){
		right:0;
		top:15px;
		ul {text-align:right;
			width:100%; 
		}
	}
	@include breakpoint($tablet-landscape-min) {
		top:15px; 
	}
	
	@include breakpoint($tablet-landscape){
		width:220px;
		border:0px solid red; 
		right:20px;
		top:15px;
		ul li {
			width:27%; 
			margin:0;
		}
	}
	@include breakpoint($desktop){
		width:220px;
		right:80px;
		top:15px;
		
	}
}

/* BOOKS ************/	
body.section-books .social-media-int-ds { 
	ul { text-align: left;
		li {
			margin:0 2% 0 0;
		}
	}
}

body.section-terms-and-conditions .social-media-int-ds, body.section-privacy-policy .social-media-int-ds, body.section-you-need-a-subscription { 
	display:none;   
}

body.section-latest, body.section-featured, body.section-most-popular {

}