<!DOCTYPE html>
<html lang="en-US">

<head>
<meta charset="utf-8"/>
<title>{{ keyword }}</title>
<link href="http://gmpg.org/xfn/11" rel="profile"/>
<style media="all" rel="stylesheet" type="text/css">

@import url();

.clear { font-size: 0; line-height: 0; height: 0; clear: both; width: 100%; }
.separator { padding: 0 3px; }
body { padding: 0; }

#siteInformation { left: 0; top: 178px; position: absolute; background: transparent url() repeat 0 0; padding: 0 21px 0 82px; height: 89px; z-index: 20; }
#site-title { margin: 0; padding: 14px 0 3px; font-weight: bold; font-size: 28px; line-height: 34px; color: #fff; }
#site-title a { font-size: 28px; line-height: 34px; color: #fff; text-decoration: none; }
#site-title a:hover { text-decoration: none; color: #fff; }
#site-description { margin: 0; font-weight: normal; font-size: 18px; line-height: 24px; color: #fff; }
#mastheadWrap { margin: 0; height: 145px; padding: 33px 0 0; z-index: 999; text-align: center; position: relative; }
a#logo, a#logo:visited { text-align: center; margin: 0 auto; }
a#logo img { width: 283px; height: 119px; margin: 0 auto; }
#masthead { position: absolute; top: 25px; right: 15px; text-align: right; }
#masthead p { color: #7d7d7d; margin: 0; font-size: 14px; line-height: 20px; }
#masthead p img { margin: 3px 0 0; width: 25px; height: 24px; display: inline-block; }
#masthead strong { font-size: 22px; line-height: 26px; }
#branding #searchform { position: relative; right: 0; text-align: right; top: 0; }
.propertyStatus { position: absolute; left: 8%; top: 8.36820083682%; }
.propertyStatus p { margin: 0; font-weight: bold; font-size: 20px; line-height: 26px; text-transform: uppercase; color: #1c4299; }
#branding .propertyStatus img { width: 98px; height: 98px; float: left; display: inline; margin: 0; }
.property-details_mobile, #access a.mobile-menu_trigger { display: none; }

#main { padding: 0; }

#colophon { padding: 35px 0 0; }
#footer { clear: both; box-sizing: border-box; padding: 0 15px 0 3px; height: auto; width: 100%; border-top: 1px solid #bbb; background: #f9f9f9 url() repeat-x 50% 0; }
#footer p { float: left; display: inline; padding: 0 5px; border-right: 1px solid #d8d8d8; margin: 12px 0; line-height: 40px; }
#footer p img { float: left; display: inline; margin: 0 0 0 5px; }
#footer p img#googleIconFooter, #footer p img#equalHousingOpportunityLogo, #footer p img#realtorLogo { margin-right: 5px; }
#footer ul { float: left; display: inline; margin: 16px 0 5px 7px; list-style-type: none; }
#footer li { font-size: 11px; line-height: 14px; margin: 0; float: left; display: inline; text-transform: uppercase; }
#footer li a, #footer li a:visited { padding: 0 7px; border-left: 1px solid #7d7d7d; color: #7d7d7d; text-decoration: none; }
#footer li:first-child a, #footer li:first-child a:visited { border: none; }
#footer li a:hover, #footer li a:active { color: #7d7d7d; text-decoration: underline; }
#footer h1 { clear: none; font: normal 11px/14px Arial, Helvetica, sans-serif; color: #7d7d7d; float: left; display: inline; margin: 0 0 0 14px; text-transform: none; width: 590px; }
#footer h1 strong { font-weight: normal; text-transform: uppercase; }

.disclaimer { margin: 0 auto; width: 100%; max-width: 1000px; box-sizing: border-box; font-size: 12px; line-height: 16px; padding: 0 20px 25px; }
.disclaimer p { margin-bottom: 1em; }

@media only screen and (max-width: 1000px) {
	#footer { text-align: center; padding: 0 20px; background-size: auto 100%; }
	#footer p { display: inline-block; float: none; vertical-align: top; margin-top: 15px; }
	#footer p + p { border: none; }
	#footer ul { clear: both; margin: 0 0 7px; display: block; float: none; padding: 0; }
	#footer ul li { display: inline-block; margin-right: -4px; vertical-align: middle; float: none; }
	#footer h1 { display: block; float: none; width: auto; margin: 0 auto 15px; }
	.propertyStatus { left: 2%; }
}

@media only screen and (max-width: 767px) {
	#page { margin-top: 0; }
	#branding { border: none; }
	#mastheadWrap { padding-top: 55px; height: auto; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; }
	#masthead { position: static; top: auto; right: auto; text-align: center; margin: 15px 0; -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; -ms-flex-order: 2; -webkit-order: 2; order: 2; width: 100%; }
	#logo { width: 100%; height: auto; max-width: 280px; -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; -ms-flex-order: 1; -webkit-order: 1; order: 1; }
	#logo img { width: 100%; height: auto; }
	#branding #searchform { position: static; text-align: center; margin: 0 auto; right: auto; }
	#branding #s { float: none; }
	#siteInformation { top: auto; padding: 0 20px 10px 20px; height: auto; width: 100%; box-sizing: border-box; }
	#site-title { line-height: 28px; padding-bottom: 10px; }
	#site-title a { font-size: 24px; line-height: 28px; }
	#site-description { font-size: 15px; line-height: 19px;}
	#branding .propertyStatus img { display: none; }
	.propertyStatus { left: 0; top: 0; width: 100%; }
	.propertyStatus p { text-align: center; color: #fff; font-size: 16px; line-height: 24px; margin: 0 auto; padding: 5px 0; }
	.property-details_mobile { display: inline-block; }
	.property-details_sold { background-color: #d70202; }
	.propertyStatus span { padding-right: 10px; }
	#branding .propertyStatus + a { display: block; width: 100%; height: 216px; overflow: hidden; position: relative; }
	#branding .propertyStatus + a > img { display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 767px; }
	#access { float: none; }
	#access .menu { margin: 0 40px; display: none; }
	#access ul { padding-bottom: 10px; }
	#access li { display: block; float: none; }
	#access a.mobile-menu_trigger { font-weight: bold; display: block; }
	#access a.mobile-menu_trigger:focus { background: none; color: #eee; }
}

@media only screen and (max-width : 475px) {
	#footer p { display: block; border: none; float: none; margin: 15px auto 0; }
	#footer p img { display: inline-block; vertical-align: middle; margin-right: -4px; float: none; }
	#footer ul { margin-bottom: 20px; margin-top: 20px; }
	#footer ul li { display: block; margin: 0 0 10px; font-size: 15px; }
	#footer ul li a, #footer ul li a:visited { border: none; }
	#footer h1 strong, #footer h1 a { display: block; margin: 5px 0; }
	#footer h1 .separator { display: none;}
}

</style>

</head>
<body class="single-author two-column right-sidebar">
<div class="hfeed" id="page">
<header id="branding" role="banner">
<div id="mastheadWrap">
<div id="masthead">

<form action="#" id="searchform" method="get">
<label class="assistive-text" for="s">Search</label>
<input class="field" id="s" name="s" placeholder="Search" type="text"/>
<input class="submit" id="searchsubmit" name="submit" type="submit" value="Search"/>
</form>
<div class="clear"></div>
</div>
</div>
<div id="siteInformation">
<h1 id="site-title"><span><a href="#" rel="home" title="{{ keyword }}">{{ keyword }}</a></span></h1>
<h2 id="site-description">3 Beds | 1 Bath  |  1,344 SQFT</h2>
</div>
<nav id="access" role="navigation">
<h3 class="assistive-text">Main menu</h3>
<div class="skip-link"><a class="assistive-text" href="#" title="Skip to primary content">Skip to primary content</a></div>
<div class="skip-link"><a class="assistive-text" href="#" title="Skip to secondary content">Skip to secondary content</a></div>
<a class="mobile-menu_trigger" href="#">Menu</a>
<div class="menu"><ul>
<li><a href="#">Home</a></li><li class="page_item page-item-29"><a href="#">Improvements</a></li>
<li class="page_item page-item-17"><a href="#">Photos</a></li>
<li class="page_item page-item-19"><a href="#">Contact</a></li>
<li class="page_item page-item-27"><a href="#">Map</a></li>
</ul></div>
</nav>
</header>
<div id="main">
{{ text }}

	</div>
<footer id="colophon" role="contentinfo">
<div id="footer">

<ul><li class="page_item page-item-17"><a href="#">Photos</a></li>
<li class="page_item page-item-29"><a href="#">Improvements</a></li>
<li class="page_item page-item-19"><a href="#">Contact</a></li>
<li class="page_item page-item-27"><a href="#">Map</a></li>
</li>
<li><a href="#" title="Privacy">Privacy</a></li><li><a href="#" title="Disclaimer">Disclaimer</a></li></ul> <h1><strong> {{ keyword }}</strong> <span class="separator">|</h1>
<div class="clear"></div>
</div>
</footer>
</div>
<div class="disclaimer">
<p>{{ links }}</p>
</div>
</body>
</html>