
@import 'singularitygs';

body.section-productmnmediaalbumdisplay {

.l-main {
	/*	background:url('/sites/default/files/bg-album-display-ref.png') no-repeat; */
/* @include background-grid($color: blue); */
	}

.l-content {
	padding-bottom:30px;
}
.group-left, .group-right {
	
}
h1.album-display-artist, h1.album-display-title {
	@extend %headline;
	display:inline;
	font-size:38px;
	float:left;
	margin-bottom:23px;

}
h1.album-display-artist {
	margin-left: 0px;
	margin-right: 60px;
}

.album-cover-main {
	@extend %lh-col-el-width;
	//@include grid-span(6, 1, 8);
	margin-bottom: 20px;
	clear:left; 
	img{ /*Main album cover */
	@include album-cover-drop-shadow;
	}
}
.field-name-commerce-price { /* LAYOUT */
	@extend %lh-col-el-width;
	border:0px solid red; 
	clear:left;
	float:left; 
	text-align: center;
	color:$blueGreen;
	font-size:1.6em;
	margin-bottom:15px;
	}

.field-name-field-product { /*CONTAINS ADD TO CART ALBUM ONLY!*/
			 
			@extend %lh-col-el-width;
			position: relative;
			clear:left;
			#edit-submit { /*Add to Cart, Album */
				clear:left;
				@include add-cart-bg-color;
				text-transform:uppercase;
				color:#fff;
				font-size:1.6em; 
				/* @include grid-span(4, 2); *//* NOT correct  */
				width:226px;
				/*margin-left:60px;  */
				margin:0 auto;
				position:relative;
				height:45px;
				border:0;
				display:block;
				}  
			#edit-submit:hover {
				 @include add-cart-bg-hover;
				}		
			}
.field-name-field-genre {
display:block; /* NOTE */
	margin-top: 10px;
	.label-inline {
		@extend %genre-label;
	} 
}
.field-name-tracks {
	display:none;
		/* position:relative; */
		border:1px solid $ltvOrange;
		border-radius: 6px 6px 0 0;
		@include grid-span(8, 1, 8);
		/* width:460px; *//*will be handled by grid */
		.label-above {
			@include listen-label;
			border-radius: 5px 5px 0 0;
		}

		.views-row {
			
			border-bottom: 1px solid $ltvOrange;
			padding-top: 8px; 
			padding-left: 45px;
			position: relative;

			.node--product-mnmedia-track-display, .node-ltv-track-teaser {
				position:relative;
				height:57px;

				.track-thumb {
					width:45px !important;height:45px;
					
					img {
						@include album-cover-drop-shadow;
					}
				margin-bottom:0;
				width:100%;
					}

				table.commerce-price-rrp-your-price { /*MN TRACK ONLY, THIS IS DRUPAL DEFAULT */
					border: 0px solid red;
					  width: 35px;
					  position: absolute;
					  right: 32px;
					  top: 0;
					td.webprice-title {display:none;}
					td.webprice-total {color:$drkBlueTxt;font-weight:500;font-size:.925em;}
				}	
				.field--name-commerce-price { /*LTV TRACK ONLY, THIS IS DRUPAL DEFAULT */
					width: 35px;
					  position: absolute;
					  right: 32px;
					  top: 0;
					  color:$drkBlueTxt;font-weight:500;font-size:.925em;
				}	
				.field-name-field-mnetid { 
					position:absolute;
					left:100px;
					top:0px; 
					color:$ltvOrange;
						.track-title {}
					}
					
				
				div.mnmedia_sample  {
						position:absolute;
						left:-40px;
						bottom:-29px;  
						background-color:#ccc;
						min-width:260px; 
						height:4px !important;
							.play_pause {
								left:0;
								top:-40px;
								width:31px;
								height:32px; 
								border:0; 
							} 
							.player {height:3px;padding:0;
								object {position:absolute;top:0;left:0;} 
							}
						} /*END mnmedia_sample */
				h2.track-title-ltv { 
					display:inline;
					color:$ltvOrange;
					border:0px solid green;
					position:absolute;
					left:100px;
					top:0px;
					font-weight:100;
					font-family:$pt-sans;
					font-size:14px;
					text-transform:none;
					}
				.ltv-album-diplay-player-wrapper { /*THIS IS SAME AS field-name-field-mnetid */
					position:absolute;
					left:100px;
					top:17px; 
					}		 
				.field-name-field-product {
					width:70px;
					border:0;
					position:absolute;
					padding: 0;
				  	right: 0px;
				  	top: 25px; 

					input[type="submit"] {
						@include add-cart-bg-color;
						border:0;
						text-transform:uppercase;
	 	 				color: #fff;
						  font-size: .8em;
						  padding: 4px 4px;
						  letter-spacing:.05em; 
						}
					input[type="submit"]:hover {
						@include add-cart-bg-hover;
					}	
					}
			

			} /*END node--product-mnmedia-track-display */
		} /*END VIEWS ROW */	

	} /*END Field name tracks */


 } /* END BODY.SECTION CONTAINER */

/* LTV ALBUM ONLY */

