/* BREAKPOINTI VARIABLES */
$desktop:(min-width:1025px);
$tablet-landscape:769px 1024px;
$tablet-landscape-min:(min-width:769px);
$tablet-portrait:581px 768px;
$tablet-portrait-max:(max-width:768px);
$tablet-min:(min-width:581px);
$tablet-all:581px 1024px;
$touch-landscape-max:(max-width:580px);
$touch-landscape:(321px 580px);
$touch-portrait-max:(max-width:320px);
$mobile-menu:0 768px;
$small-touch-max:0 580px;
$desktop-menu:(min-width:769px); 

/* OTHER VARS */
$main-content-desktop:940px; 
$iphone6portrait:750px;
$iphone6landscape:1334px;