/* FLATICON 1 */

@font-face {
  font-family: 'bebasregular';
  src: url('../fonts/bebas___-webfont.eot');
  src: url('../fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bebas___-webfont.woff2') format('woff2'),
       url('../fonts/bebas___-webfont.woff') format('woff'),
       url('../fonts/bebas___-webfont.ttf') format('truetype'),
       url('../fonts/bebas___-webfont.svg#bebasregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neue_regularregular';
  src: url('../fonts/bebasneue_regular-webfont.eot');
  src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
       url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
       url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'),
       url('../fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* FLATICONS 1 */
@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/flaticon.woff") format("woff"),
    url("../fonts/flaticon.ttf") format("truetype"),
    url("../fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
}
.flaticon-facebook2:before {
    content: "\e000";
}
.flaticon-logo22:before {
    content: "\e001";
}
.flaticon-magnifier12:before {
    content: "\e002";
}
.flaticon-magnifier13:before {
    content: "\e003";
}

.flaticon-marker20:before {
    content: "\e004";
}
.flaticon-next25:before {
    content: "\e005";
}
.flaticon-play-button4:before {
    content: "\e006";
}
.flaticon-play109:before {
    content: "\e007";
}
.flaticon-play43:before {
    content: "\e008";
}
.flaticon-right133:before {
    content: "\e009";
}
.flaticon-shopping-cart13:before {
    content: "\e00a";
}
.flaticon-shopping-cart7:before {
    content: "\e00b";
}
.flaticon-shopping122:before {
    content: "\e00c";
}
.flaticon-shopping232:before {
    content: "\e00d";
}
.flaticon-videoplayer5:before {
    content: "\e00e";
}
.flaticon-youtube31:before {
    content: "\e00f";
}

/* FLATICON 2 */

@font-face {
  font-family: "Flaticon2";
  src: url("../fonts/Flaticon2.eot");
  src: url("../fonts/Flaticon2.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon2.woff") format("woff"),
       url("../fonts/Flaticon2.ttf") format("truetype"),
       url("../fonts/Flaticon2.svg#Flaticon2") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon2-"]:before, [class*=" flaticon2-"]:before,
[class^="flaticon2-"]:after, [class*=" flaticon2-"]:after {   
    font-family: Flaticon2;
    font-style: normal;
    font-size:1.25em;
    margin-right: 15px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon2";
    src: url("../fonts/Flaticon2.svg#Flaticon2") format("svg");
  }
}

.fi:before{
  display: inline-block;
  font-family: "Flaticon2";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

.flaticon2-arrow:before { content: "\f100"; }
.flaticon2-arrow-1:before { content: "\f101"; }
.flaticon2-book:before { content: "\f102"; }
.flaticon2-business-card-of-a-man-with-contact-info:before { content: "\f103"; }
.flaticon2-circle:before { content: "\f104"; }
.flaticon2-compact-disc:before { content: "\f105"; }
.flaticon2-computer-screen:before { content: "\f106"; }
.flaticon2-create-group-button:before { content: "\f107"; }
.flaticon2-credit-card:before { content: "\f108"; }
.flaticon2-credit-card-1:before { content: "\f109"; }
.flaticon2-eye-of-a-human:before { content: "\f10a"; }
.flaticon2-eye-with-eyelashes:before { content: "\f10b"; }
.flaticon2-file:before { content: "\f10c"; }
.flaticon2-headphones:before { content: "\f10d"; }
.flaticon2-headphones-1:before { content: "\f10e"; }
.flaticon2-history:before { content: "\f10f"; }
.flaticon2-interface:before { content: "\f110"; }
.flaticon2-interface-1:before { content: "\f111"; }
.flaticon2-internet:before { content: "\f112"; }
.flaticon2-key:before { content: "\f113"; }
.flaticon2-key-1:before { content: "\f114"; }
.flaticon2-line:before { content: "\f115"; }
.flaticon2-log-out:before { content: "\f116"; }
.flaticon2-login:before { content: "\f117"; }
.flaticon2-login-square-arrow-button-outline:before { content: "\f118"; }
.flaticon2-medical:before { content: "\f119"; }
.flaticon2-meditation-yoga-posture:before { content: "\f11a"; }
.flaticon2-message-in-a-speech-bubble:before { content: "\f11b"; }
.flaticon2-mp3:before { content: "\f11c"; }
.flaticon2-music:before { content: "\f11d"; }
.flaticon2-music-file:before { content: "\f11e"; }
.flaticon2-music-folder:before { content: "\f11f"; }
.flaticon2-music-player:before { content: "\f120"; }
.flaticon2-musical-note:before { content: "\f121"; }
.flaticon2-notebook:before { content: "\f122"; }
.flaticon2-notebook-1:before { content: "\f123"; }
.flaticon2-opened-eye:before { content: "\f124"; }
.flaticon2-plus:before { content: "\f125"; }
.flaticon2-science-book:before { content: "\f126"; }
.flaticon2-settings:before { content: "\f127"; }
.flaticon2-settings-1:before { content: "\f128"; }
.flaticon2-settings-2:before { content: "\f129"; }
.flaticon2-shelter:before { content: "\f12a"; }
.flaticon2-sign-in:before { content: "\f12b"; }
.flaticon2-technology:before { content: "\f12c"; }
.flaticon2-video-camera:before { content: "\f12d"; }
.flaticon2-video-player:before { content: "\f12e"; }
.flaticon2-woman-stretching-back:before { content: "\f12f"; }
    
/* ICO MOON */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?7cm3b3');
  src:url('../fonts/icomoon.eot?#iefix7cm3b3') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?7cm3b3') format('truetype'),
      url('../fonts/icomoon.woff?7cm3b3') format('woff'),
      url('../fonts/icomoon.svg?7cm3b3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-menu2:before {
  content: "\e9be";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-cart:before {
  content: "\e93a";
}
    