$black : #000;
$ltvRed : #d1245d;;
$navBot : #cc95a8;
$ltvOrange: #f2720f;
$navBorderDark:#96cf89;
$navBorderLite:#aad89f;
$ltvFooterPromoHdr : #707070;

$ltvGreen:#99cc66;
$ltvGreenPrice:#88bb55;
$ltvDarkGreen:#4c7326;

$blueGreen: #01a5af;
$ltvYellow: #ffc52b;
$addCartYellow:#ffc52b;

$yellowOrange:#ffc52b;
$drkBlueTxt:#125381;
$ltvGrey:#edf2f4;
$active:#ffa70f;

$navCartBg:#ffc52b; 

$navCartBg:#01838C;