@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "toolkit/kickstart";

@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
@import "layout/**/*";

$breakpoint-to-ems:true;
/*
formula is ...
panels top adds to push height 
for mobile it would 
panels top 990px + 450 = 1440
*/
$footerHeight:450px;
$footerHeightTouch:650px;

$panelsFlexible1Top:555px;
/* $panelsFlexible1Top:990px; */

/*touch portrait 1640 seems to work! this is a hackkkkk */

@function frontPagePushHeight($footerHeight, $panelsFlx1Height) {
	@return $footerHeight + $panelsFlx1Height
}
  
$frontPagePushHeight : frontPagePushHeight($footerHeight, $panelsFlexible1Top);

/* CONTROL WHICH MENUS */
@include breakpoint($desktop-menu) {  
	#main-nav-wrapper {display:block;} 
	#mobile-header {display: none;}	
	#mobile-nav {display:none;}
}

@include breakpoint($mobile-menu) {
	#top-nav {display:none;}
	#main-nav-wrapper {display:none;}
	#mobile-header {display:block;}	
}
/* END CONTROL WHICH MENUS */


/* GLOBAL STUFF HERE */
@include add-grid(16);
@include add-gutter(1/3);
@include add-gutter-style('split');
@include sgs-change('debug', true);

/* MIXINS .............*/
%global-l_main-padding-top {
	position:relative; 
	padding-top:70px;
	@include breakpoint($desktop) {
		padding-top:40px;
	}
	@include breakpoint($tablet-landscape) {
		padding-top:20px;
	}
	@include breakpoint($tablet-portrait) {
		padding-top:16px;
	}
}

@mixin padding-top-mobile-no-social {
	padding-top:0;
}  

%global-l_main-padding-bottom {
	position:relative;
	@include breakpoint($desktop) {
		padding-bottom:24px;
	}
	@include breakpoint($tablet-landscape) {
		padding-bottom:20px;
	}
	@include breakpoint($tablet-portrait) {
		padding-bottom:16px;
	}	
}

%lh-col-el-width {
	@include grid-span(6, 1, 8);
}

@mixin lh-col-el-width {
	@include grid-span(6, 1, 8);	
}

@mixin page-side-padding-portrait { 
	padding-left:1.5%;
	padding-right:1.5%;
}

/* GLOBAL PAGE LAYOUT CONTAINERS */
.l-page {
	width:100%;
	overflow-x:hidden;  
	overflow-y:hidden; 
}

.l-main { 
	overflow-x:visible;  
	overflow-y:visible; 
	margin:0 auto;
	@include clearfix;
	@include breakpoint($desktop) {
		width:$main-content-desktop;
		}
	@extend %global-l_main-padding-top;	
	@extend %global-l_main-padding-bottom;	
}

.l-content {
	position:relative;
	padding-top:65px; /* mobile only! social media goes here */
	@include breakpoint($tablet-min) {padding-top:0px;}   
	}	
  
/* STICKY FOOTER CONTROLS */
.l-page {
	min-height: 100%;
	margin-bottom:-$footerHeightTouch;
	@include breakpoint($tablet-min){
		margin-bottom: -$footerHeight;  
	}	
}

footer, .push { 
	height:$footerHeightTouch;
	@include breakpoint($tablet-min){
		height: $footerHeight;
	}
}

footer {
	position: relative;
	width:100%;
	background-color: $ltvYellow;
}
 
.l-footer {
	@include clearfix;
	padding-top:10px;
	clear:both;
	
	.l-region--footer {
		margin:0 auto;
		@include breakpoint($desktop) {
		width:$main-content-desktop;
		}
	@include breakpoint($tablet-portrait) {
		width:85%;
		}
	@include breakpoint($tablet-landscape) {
		width:90%;
		}	
	}
}
/* END STICKY FOOTER CONTROLS */


#block-views-album-display-footer-block {
		width:760px; /*change */
		margin:0 auto;
		position:relative;
	}

.l-page {
	background-image:url('/sites/default/files/bg-swirl-orange.png');
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
	background-size: auto;
	background-repeat: no-repeat;
	@include breakpoint($desktop){background-position: center 91px;}
	@include breakpoint($tablet-landscape){background-position: center 66px;} /*NOTE THIS IS HEADER HEIGHT */	
}

header {
	width:100%;
	margin:0 auto; 
	@include clearfix;
}

.l-content {
	padding-left:1%;
	padding-right:1%; 
	
	@include breakpoint($tablet-landscape) {
		position:relative;
		padding-left:10px;
		padding-right:10px;
		}
	@include breakpoint($tablet-portrait) {
		position:relative;
		@include page-side-padding-portrait;
		}
	@include breakpoint($desktop) {
		padding-left:0;
		padding-right:0; 
		}
	}

/* DISPLAY SUITE */
.ds-2col-stacked > .group-left, .ds-2col-stacked > .group-right { /*MOBILE FIRST 1 COLUMN */
	  float: none; /* LTR */
	  width: 100%;
	  clear:both;
	}

@include breakpoint($tablet-min){  
	
	.ds-2col-stacked > .group-left {
	  float: left; 
	  width: 50%;
	  clear:left							;
	}

	.ds-2col-stacked > .group-right {
	  float: right; 
		width: 50%;
	  clear:none;
	}
	
}


.ds-2col-stacked > .group-footer {
  clear: both;
}

#widthMonitor{
	display:block;
	position: absolute;
	top:0;left:0;
	width: 35px;
	height:20px;
	background: #000;
	color:#fff;
	font-size: 10px;
	z-index:100;
	}


