$base-font-size: 16px !default; 

$base-font-size:14px;
$base-line-height:12px; /* used to fix annoying sass error, dont' use this var */





/* %flaticon-icons { */
a.social-icons {       
    color:$blueGreen !important;
    &:hover{
        transition:color 0.3s;
        color:$ltvGreen !important;
    };
}
 
$bebas:'bebasregular';
$bebasNeue:'bebas_neue_regularregular';
$oswald:'Oswald', Helvetica, Arial, sans-serif;
$maven-pro:'Maven Pro', Helvetica, Arial, sans-serif;
$pt-sans:'PT Sans', Helvetica, Arial, sans-serif; /* looks like Verdana, or Trebuchet */
$mainNav:Arial, Helvetica, sans-serif; 
$arial:Arial, Helvetica, sans-serif; 

body {
    font-size: 16px; 
}

h1, h2, h3 {
    color:#00a5b0;
    font-family: $bebasNeue;
    line-height: 1;
    margin: 0;
    padding: 0;

}



h1, h2 {
    text-transform: uppercase;
}

@mixin headline-default {
    color:#00a5b0;
    font-size:3.5em;
}

%headline {
    color:#00a5b0;
    /* font-size:2.375em; */
    /* font-size:56px; */ 
    font-size:3.5em;

    @include breakpoint($tablet-portrait) {
        font-size:56px; 
    }
    @include breakpoint($tablet-landscape) {
        font-size:56px; 
    }
    @include breakpoint($desktop) {
        font-size:56px; 
    }
    padding:0;
    font-family:$bebasNeue;
    text-transform:uppercase;
}

%headline-large {
    font-size:38px;
}

@mixin product-title-teaser {
    text-transform:uppercase;
    color:$drkBlueTxt;
}

/*MAIN PRODUCT PAGES */ 
@mixin global-price {
    font-weight: bold;
    color:$ltvGreen;
    }

@mixin full-page-price-format {
    font-size:1.4em;
    display: block;
    margin:5px 0;
    }

.product-page-price {
    @include global-price;
    @include full-page-price-format;
}
p.product-page-description {
    width:90%;
    line-height:1.4;
}

.product-details {
    font-size:.75em;
    display: block;
    .label-inline {
        display:inline;
        font-weight:bold;
    }
}

    
.form-item-quantity label { /*USED BY BOOKS, DVDS only */
    font-size: .75em;
}    

@mixin commerce-price {
    width:100%; 
    clear:left;
    float:left; 
    text-align: center;
    color:$blueGreen;
    font-size:1.6em;
    margin-bottom:15px;
}

$textShadow:#de638b 1px 1px 0px;

.price {font-weight: bold;color:$ltvGreenPrice;}

.notice {font-size: .65em; font-family: $arial}
  

