body.section-ltvalbumii, body.section-ltvalbums {
	
	.group-left {
		.field--name-field-back-cover { z-index:1; }

		.album-genre {
			position:relative;			
			z-index:100;
			@include breakpoint($tablet-min){
				margin-bottom: 0;
			}
			.mnm-media-genres {display:inline;}
			h2 { display:inline; text-transform: none}

			.taxonomy-term--mnmedia-genre { display:inline;}

			.taxonomy-term__content {display:none;}
		}
  	}	/* 	END GROUP LEFT */

  	.group-right {
  		.album-only-tag {
  			display: none;
  		}
  		.album-only-submitbtn {
  			background-color: $ltvOrange !important;
  			&:hover {
  				background-color: $ltvOrange !important;
  			};
  		}
  		.sm2-inline-duration {
			font-size: 10px;
		    top: -8px;
		    position: relative;
		    text-align: center;
		}

  		.field-name-tracks {
  			@include player-drop-shadow;
  			@include player-border-radius;
	  		
	  		.label-above {
	  			@include player-border-radius;
				@include listen-label-title;
			}
  		}
  		.view-ltv-tracks {
  			border-left: 1px solid $ltvOrange;
  			border-right: 1px solid $ltvOrange;
  			background-color:rgba(255, 255, 255, 0.4);
  			
  		} 
  		.views-row {
  			/* @include player-views-row; */
  			border-bottom:1px solid $ltvOrange;
  			padding-left:8px;padding-top:8px;padding-bottom:3px;
  			@include breakpoint($tablet-min) {
  				padding-left:15px;padding-top:8px;padding-bottom:3px;	
  			}
			
			padding-right:7px;
			position:relative;
			.mp3-thumb {
				display:none;
				@include breakpoint($tablet-min){
					display: inline;
				}
			}

			.field-name-field-track-sample-rev {
				display:inline;

				.sm2-bar-ui {
				color:$ltvOrange; 
				font-weight: bold;
				width:80%;
				@include breakpoint($tablet-min){
					width:73%;
				}
				
				@include breakpoint($tablet-portrait){width:80%;}
				@include breakpoint($tablet-landscape){width:70%;}
				@include breakpoint($desktop){width:73%;}
				
				min-width:1%;
				.sm2-playlist ul li {text-align: left} 
				.sm2-inline-time {display:none;}
				.sm2-volume-control {top:0px;}
				}
			}  

			table.commerce-price-rrp-your-price {
				position: absolute;
				top:8px;
				right:7px;
				td.webprice-title {display: none}
				td.webprice-total {
					font-size:.8em;
					color:$drkBlueTxt;
					@include breakpoint($tablet-min) {
						font-size:.85em;
					}
					} 
				}

			input[type="submit"] {
				position: absolute;
				bottom: 15px;
				right: 7px;
				font-size: .65em;
				font-weight: 900;
				border-radius: 0;
				padding: 3px 3px;				
				@include breakpoint($tablet-min){
					bottom:12px;
					right:7px;
					font-size:.85em;	
				}
			
				@include add-to-cart-basic;
				} 
  			}
  	} /* END GROUP RIGHT */

  	@include breakpoint($tablet-min){ /* FLIPPER CODE FOR NEW FIELDS */

	.album-artwork-rotate {
		-webkit-perspective: 1000;
	    -moz-perspective: 1000;
	    -o-perspective: 1000;
	    perspective: 1000;
	    height:340px;
	    width:340px;
	}
	.album-artwork-rotate div, .album-artwork-rotate div img {
		height:340px;
		width:340px;
	}
	.album-artwork-rotate div img{
		-webkit-backface-visibility: hidden;
		    -moz-backface-visibility: hidden;
		    -o-backface-visibility: hidden;
		    backface-visibility: hidden;

		    -webkit-transition: 0.6s;
		    -webkit-transform-style: preserve-3d;

		    -moz-transition: 0.6s;
		    -moz-transform-style: preserve-3d;

		    -o-transition: 0.6s;
		    -o-transform-style: preserve-3d;

		    -ms-transition: 0.6s;
		    -ms-transform-style: preserve-3d;

		    transition: 0.6s;
		    transform-style: preserve-3d;
			position: absolute;
		    top: 0;
		    left: 0;
		}
		.album-artwork-rotate .field--name-field-back-cover img{
			-webkit-transform: rotateY(-180deg);
		    -moz-transform: rotateY(-180deg);
		    -o-transform: rotateY(-180deg);
		    -ms-transform: rotateY(-180deg);
		    transform: rotateY(-180deg);
		}
		.album-artwork-rotate:hover .field--name-field-back-cover img{
			-webkit-transform: rotateY(0deg);
		    -moz-transform: rotateY(0deg);
		    -o-transform: rotateY(0deg);
		    -ms-transform: rotateY(0deg);
		    transform: rotateY(0deg);
		}
		.album-artwork-rotate:hover .field--name-field-front-cover img{
			-webkit-transform: rotateY(180deg);
		    -moz-transform: rotateY(180deg);
		    -o-transform: rotateY(180deg);
		    transform: rotateY(180deg);
		}
	}
	@include breakpoint($small-touch-max) {
 	
 	.album-artwork-rotate {
 		-webkit-perspective: 1000;
	    -moz-perspective: 1000;
	    -o-perspective: 1000;
	    perspective: 1000;
	    height:340px;
	    width:340px; 
	}
	.album-artwork-rotate div, .album-artwork-rotate div img {
		height:340px;
		width:340px;
		position:absolute;
		top:0;
		left:0;
	}

	.album-artwork-rotate .field--name-field-back-cover img{
			display:none;
		}
	} 


}   
 