body.section-dvds, body.section-books, body.section-yoga-classes {

.group-right {
	
	
	ul.social-media-int {
		text-align:center;
		margin-bottom: 10px;
		@include breakpoint($tablet-min){
			text-align: left;

		}
		li {
			margin:0 3.5%;
			@include breakpoint($tablet-min){
				margin:0 12px 0 0;
				}
			}
		}
	.product-page-description {
		text-align: justify;
	    width: 90%;
	    line-height: 1.4;
	    margin: 0 auto;
	    @include breakpoint($tablet-min){
	    	text-align: left;
	    	margin:0;
	    	}
		}
	.product-page-price {
		text-align: center;
		@include breakpoint($tablet-min){
			text-align: left;
			}
		}
	form.commerce-add-to-cart {	
		margin-bottom: 35px;
		input[type="submit"] {
			margin:0 auto;
			@include add-to-cart-fullpage-prod-display(1.4em, .5em .75em);
			}
		@include breakpoint($tablet-min) {
			margin-bottom:10px;
			input[type="submit"] {
				margin:0;
				}
			}	
		}
	.form-item-quantity {
		display:none;
		@include breakpoint($tablet-landscape-min) {
			display:block;
			}
		}		    		
	}

}