body.section-yoga-landing, body.section-yoga {
	.l-content { 
		padding-top: 65px;
		@include breakpoint($tablet-min) {
			padding-top:0;
			}
		}
	h1 {
		font-size: 3.5em;
		}
	.yoga-promo-add-to-cart {
		input[type="submit"] {
			@include add-to-cart-basic;
			font-size:16px;
			}
		}
	.pane-yoga-class-products-panel-pane-1 { /*GLOBAL */
		padding-top: 20px;
		h2.pane-title {
			display: block;
			font-size:3em;
    		margin-bottom: 15px;
			}
		.item-list ul {
			padding:0;
			li {
				font-size: .75em;
				h2.product-title-teaser {
	    			margin-bottom: 8px;
	    			font-size:2em;
	    			@include breakpoint($tablet-min){
	    				font-size:1.6em;
	    			}
	    		}
	    		.dvd-class-cover-teaser {
	    			img {
	    				@include product-display-shadow(2.5%);
	    			}
	    		}
				.price {
					display: block;
				}
				input[type="submit"] {
					@include add-to-cart-basic;
					font-size: 16px; 
					margin-bottom: 5px;
				}
			}
		}

	}
 
	/* MOBILE FIRST */
	@include breakpoint($small-touch-max){
		h1 {text-align: center}
		.panel-panel {
			display: block;
			width: 100%;
		}
		.pane-1 {
			p {margin:0 0 10px 0;width:100%;}
		}
		#yoga-streams-copy {
			margin-bottom: 15px;
			p {
				width:90%;
				margin-left:auto;
				margin-right:auto;
				margin-bottom: 10px;
				text-align: justify;
			}
		}	
		#class-promo {
			margin-bottom: 15px;
			h2 {
				text-align:center;
				font-size: 1.5em;
    			margin-bottom: 15px;
    		}
    		img {width:90%;}
    		.group-right {
	    		.field {
	    			margin-bottom:5px;
	    			} 
	    		}
	    	}
 
		.pane-yoga-class-products-panel-pane-1 {
			h2.pane-title {
    			text-align:center;
			}
    		.view-content {padding-top:10px; }
    		.item-list ul {
    			text-align:center;
    			li {
	    				margin-bottom: 30px;
	    				float:none;
	    			}
	    		.dvd-class-cover-teaser {
	    			img {
	    				width:50%;
	    				margin:0 auto;
	    			}
	    		}
	    		.price {
	    			margin: 5px 0;
				    font-size: 1.25em;
					}
	    		}
	    		input[type="submit"] {
	    			margin:0 auto 10px auto;
	    			width:50%;
	    			padding:.5em 0;
	    		}
    		}
		} /* END BREAKPOINT MOBILE */

	@include breakpoint($tablet-min) {
	h1 {text-align: left;}		
	.center-wrapper {
		@include clearfix;border:0px solid green;display: table;table-layout: fixed;width: 100%;}
		
		.panel-panel {display: table-cell;width:50%;float:none;vertical-align: top}
		.panel-col-first  {
			float:none;
			.pane-1 {
				position: relative;
				top:0;
			}
			p {
				width:100%;
				float:left;
			}
			img {
				width:90%;
    		}	
		}
		.panel-col-last {
			@include clearfix;
			border:0px solid red;
			min-height: 100%;
			display: table-cell;
			p.yoga-landing {
				line-height: 1.4;
			    margin-bottom: 10px;
			}
			#yoga-streams-copy {
				display: block;
				float:left;
			}
			#class-promo {
				display:table-cell;
				vertical-align:bottom;
				h2 {margin-bottom: 4px;}
			}
			hr {display:none !important;}		
		}
	.node--yoga-class--yoga-class-promo-1 {
		display: flex;
		.group-left {
			width:125px;
			float:left;
			margin-right:12px; 
			.yoga-promo-cover {
				width:100%;
			}
		}	
		.group-right {
			float:left;
			display: table-cell;
			min-height:100%;
			border:0px solid blue;
			.field-name-field-teaser-text {
				margin-bottom: 20px;
				white-space: nowrap;
			}
		}
	}
	@include breakpoint($tablet-portrait){
		.pane-yoga-class-products-panel-pane-1 {
			padding-top:35px;

			ul li {
				float:left;
				width:33.3333%;
				padding-right:2%;
				margin-bottom:20px;
				.price {margin:5px 0;font-size:1.25em;}
				}
			ul li:nth-child(3n+4){
				clear:left;
				};
			}
			.dvd-class-cover-teaser img{
				width:50%;
			}
			input[type="submit"] {
					padding:.4em 0;
					font-size:12px;
					width:50%; /*same as image */
			}
		}

	@include breakpoint($tablet-landscape-min){
		.pane-yoga-class-products-panel-pane-1 {
			padding-top:35px;

			ul li {
				float:left;
				width:25%;
				padding-right:2%;
				margin-bottom:20px;
				.price {margin:5px 0;font-size:1.25em;}
				}
			ul li:nth-child(4n+5){
				clear:left;
				};
			}
			.dvd-class-cover-teaser img{
				width:50%;
			}
			input[type="submit"] {
					padding:.4em 0;
					font-size:12px;
					width:50%; /*same as image */
			}
		}
	.field--type-taxonomy-term-reference {display:none;}
	
	}/* END BREAKPOINT DESKTOP*/
}
  