body.section-yoga-class-products, body.section-yoga-classes {
	/* GLOBAL */
	.l-content {padding-top: 0;}
	h1 {
		@include headline-default;
		}
	.node--yoga-class--full {
		@include clearfix;
		}
	.view-content {
		@extend %global-l_main-padding-top; 
		}
	ul {
		@include clearfix;
		padding-left: 0;
		}
	.price {
		@include global-price;
		/*display: block;
		margin:7px 0;
		*/
		}
	/* MAIN PRODUCT PAGE */
	.group-header {
    	padding-bottom: 10px;
    	h1.product-title {
    		text-align: center;
    		@include breakpoint($tablet-min){
    			text-align: left;
    		}
    	}
	}
	.group-left {
		width:100%;
		@include breakpoint($tablet-min){
			width:38.3%;
			float:left !important; /*OVERRIDE LAYOUT.SCSS */
			clear:none;/*OVERRIDE LAYOUT.SCSS */
			
		}
		.yoga-class-product-image {
			width:100%;
			img {
				display: block;
				width:90%;
				margin:0 auto;
				@include breakpoint($tablet-min){
					width:100%;
					} 
				@include product-display-shadow(3.25%);
				}
			}
		}
	.group-right {
		@include clearfix;
		box-sizing:border-box;
		width:100%; 
		@include breakpoint($tablet-min){
			width:61.7%;
			padding-left: 2%;
			
			display: table-cell;
			float:left !important; /*OVERRIDE LAYOUT.SCSS */
			clear:none;/*OVERRIDE LAYOUT.SCSS */
		}
		.yoga-class-description {
			p {line-height: 1.4; }
			/* MOVE TO GENERIC
			margin-bottom: 20px; 
			p {line-height:1.4;}
			*/
			margin-bottom: 10px;
		} 

		
		.yoga-class-details, .class-reference {
			display:block;
			width: 90%;
		    margin: 0 auto 10px auto;
		    @include breakpoint($tablet-min){
		    	width:100%;
		    	margin-left:0;
		    }
			
			font-size: 16px !important;
			
			div.label-inline {
				display: inline;
				font-weight:900;
				}
			}
		.class-reference {
			.label-above {font-weight: 900;display: inline;}
			a {
				color:$ltvOrange;
				&:hover {
					color:red;
					text-decoration: underline;
					};
				}
			}
		} /*END GROUP RIGHT */	
	/*PANE ONLY */
	.pane-yoga-class-products-panel-pane-1 {
		clear:both;
		h2.pane-title {display:none;}
		li.views-row {margin-bottom:20px;}
		@include breakpoint($tablet-landscape-min){
			li:nth-child(4n+5) {	
				clear:left;
			}
			li.views-row {
				width:25%;
				float:left;
				box-sizing:border-box;
				padding-right: 40px;
				padding-bottom:20px;
			}
		}
		@include breakpoint($tablet-portrait){
			li:nth-child(3n+4) {	
				clear:left;
			}
			li.views-row {
				width:33%;
				float:left;
				box-sizing:border-box;
				padding-right: 40px;
				padding-bottom:20px;
			}
		}	
	h2.product-title-teaser {
		margin-bottom: 10px;
		a {
			@include product-title-teaser;
			margin-bottom: 10px;
			}
		}
		.field-name-field-dvd-cover-class img{
		padding-bottom: 2.5%;
		@include product-custom-shadow;
		}
	} /* END PANE */			
	
	.teaser-text {font-size: 12px;}
}

