body.section-yoga {
	h1 {
		text-align: center;
		font-size: 2.5em;

	}
	.panel-1col {
		background: url('/sites/all/themes/lovetribevibes/images/3-poses-coming-soon.png') no-repeat;
		min-height: 350px;
		background-position: center;
	}
}