	/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/08/2016 23:12
  	*/

@font-face {
  font-family: "Flaticon2";
  src: url("./Flaticon2.eot");
  src: url("./Flaticon2.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon2.woff") format("woff"),
       url("./Flaticon2.ttf") format("truetype"),
       url("./Flaticon2.svg#Flaticon2") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon2";
    src: url("./Flaticon2.svg#Flaticon2") format("svg");
  }
}

[class^="flaticon2-"]:before, [class*=" flaticon2-"]:before,
[class^="flaticon2-"]:after, [class*=" flaticon2-"]:after {   
  font-family: Flaticon2;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon2-arrow:before { content: "\f100"; }
.flaticon2-arrow-1:before { content: "\f101"; }
.flaticon2-book:before { content: "\f102"; }
.flaticon2-business-card-of-a-man-with-contact-info:before { content: "\f103"; }
.flaticon2-circle:before { content: "\f104"; }
.flaticon2-compact-disc:before { content: "\f105"; }
.flaticon2-computer-screen:before { content: "\f106"; }
.flaticon2-create-group-button:before { content: "\f107"; }
.flaticon2-credit-card:before { content: "\f108"; }
.flaticon2-credit-card-1:before { content: "\f109"; }
.flaticon2-eye-of-a-human:before { content: "\f10a"; }
.flaticon2-eye-with-eyelashes:before { content: "\f10b"; }
.flaticon2-file:before { content: "\f10c"; }
.flaticon2-headphones:before { content: "\f10d"; }
.flaticon2-headphones-1:before { content: "\f10e"; }
.flaticon2-history:before { content: "\f10f"; }
.flaticon2-interface:before { content: "\f110"; }
.flaticon2-interface-1:before { content: "\f111"; }
.flaticon2-internet:before { content: "\f112"; }
.flaticon2-key:before { content: "\f113"; }
.flaticon2-key-1:before { content: "\f114"; }
.flaticon2-line:before { content: "\f115"; }
.flaticon2-login:before { content: "\f116"; }
.flaticon2-login-square-arrow-button-outline:before { content: "\f117"; }
.flaticon2-medical:before { content: "\f118"; }
.flaticon2-meditation-yoga-posture:before { content: "\f119"; }
.flaticon2-message-in-a-speech-bubble:before { content: "\f11a"; }
.flaticon2-mp3:before { content: "\f11b"; }
.flaticon2-music:before { content: "\f11c"; }
.flaticon2-music-file:before { content: "\f11d"; }
.flaticon2-music-folder:before { content: "\f11e"; }
.flaticon2-music-player:before { content: "\f11f"; }
.flaticon2-musical-note:before { content: "\f120"; }
.flaticon2-notebook:before { content: "\f121"; }
.flaticon2-notebook-1:before { content: "\f122"; }
.flaticon2-opened-eye:before { content: "\f123"; }
.flaticon2-plus:before { content: "\f124"; }
.flaticon2-science-book:before { content: "\f125"; }
.flaticon2-settings:before { content: "\f126"; }
.flaticon2-settings-1:before { content: "\f127"; }
.flaticon2-settings-2:before { content: "\f128"; }
.flaticon2-shelter:before { content: "\f129"; }
.flaticon2-sign-in:before { content: "\f12a"; }
.flaticon2-technology:before { content: "\f12b"; }
.flaticon2-video-camera:before { content: "\f12c"; }
.flaticon2-video-player:before { content: "\f12d"; }
.flaticon2-woman-stretching-back:before { content: "\f12e"; }