/*
$desktop:(min-width:1025px);
$tablet-landscape:769px 1024px;
$tablet-landscape-min:(min-width:769px);
$tablet-portrait:581px 768px;
$tablet-portrait-max:(max-width:768px);
$tablet-min:(min-width:581px);
$tablet-all:581px 1024px;
$touch-landscape-max:(max-width:580px);
$touch-landscape:(321px 580px);
$touch-portrait-max:(max-width:320px);
$mobile-menu:0 768px;
$small-touch-max:0 580px;
$desktop-menu:(min-width:769px); 
*/

#block-block-23 {
	position: absolute;
    
}

#block-block-23 h2{
	
    text-align: center;
}


@media only screen and (min-width:1025px) { /* Desktop */

#block-block-23 {
	width: 400px;
    top: 080px;
    padding: 0;
    z-index: 30;
    right: 0;
}

.album-cover-promo {
    width: 95%;
    margin: 0 auto;
    position: relative;
    display: block;
}


#block-block-23 h2 {
	text-align: center;
	font-size:2em;
}

#block-block-23 h2.album-title {
	text-align: center;
	font-size:28px;
	}
}


@media only screen and (min-width:769px) and (max-width:1024px) { /*TABLEt LANDSCAPE */
	#block-block-23 {
	width: 400px;
    top: 080px;
    padding: 0;
    z-index: 30;
    right: 0;
}

.album-cover-promo {
    width: 95%;
    margin: 0 auto;
    position: relative;
    display: block;
}


#block-block-23 h2 {
	text-align: center;
	font-size:2em;
}

#block-block-23 h2.album-title {
	text-align: center;
	font-size:28px;
	}

}

@media only screen and (min-width:581px) and (max-width:768px) { /*TABLET PORTRAIT */
	#block-block-23 {
		position: relative;
	    top: 450px;
	    left: 0px;
	    width: 95%;
	    margin: 0 auto;
	}
}
@media only screen and (min-width:321px) and (max-width:580px) { /* SMALLTOUCH.LANDSCAPE */
	#block-block-23 {
		width: 100%;
	    top: 625px;
	    padding: 0;
	    z-index: 30;
	    right: 0;
	}
	#block-block-23 h2.album-title {
		font-size:2.2em;
	}
	.album-cover-promo {
	    width: 270px;
	    margin: 0 auto;
	    position: relative;
	    display: block;
	}
	body.front .l-page .panels-flexible-1 {
		top:1050px;
		margin-bottom:20px;
	}
}	

@media only screen and (max-width:320px) {/* SMALLTOUCH.PORTRAIT */	
	#block-block-23 {
		position: absolute;
	    width: 100%;
	    top: 625px;
	    padding: 0;
	    z-index: 30;
	    right: 0;
	}
	#block-block-23 h2.album-title {
		font-size:2.2em;
	}
	.album-cover-promo {
	    width: 70%;
	    margin: 0 auto;
	    position: relative;
	    display: block;
	}

}



