/* BREAKPOINTI VARIABLES */
/* OTHER VARS */
/* use in this order 
$tablet-min:(min-width:581px);
$tablet-landscape-min:(min-width:769px);
$desktop:(min-width:1025px);
$xtra-large:(min-width:1200px);
*/
/* FLATICON 1 */
@font-face {
  font-family: 'bebasregular';
  src: url("../fonts/bebas___-webfont.eot");
  src: url("../fonts/bebas___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas___-webfont.woff2") format("woff2"), url("../fonts/bebas___-webfont.woff") format("woff"), url("../fonts/bebas___-webfont.ttf") format("truetype"), url("../fonts/bebas___-webfont.svg#bebasregular") format("svg");
  /* font-weight: normal ??? why? */
  font-style: normal; }
@font-face {
  font-family: 'bebas_neue_regularregular';
  src: url("../fonts/bebasneue_regular-webfont.eot");
  src: url("../fonts/bebasneue_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue_regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue_regular-webfont.woff") format("woff"), url("../fonts/bebasneue_regular-webfont.ttf") format("truetype"), url("../fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* FLATICONS 1 */
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"), url("../fonts/flaticon.woff") format("woff"), url("../fonts/flaticon.ttf") format("truetype"), url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 39, ../sass/variables/_font_faces.scss */
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal; }

/* line 44, ../sass/variables/_font_faces.scss */
.flaticon-facebook2:before {
  content: "\e000"; }

/* line 47, ../sass/variables/_font_faces.scss */
.flaticon-logo22:before {
  content: "\e001"; }

/* line 50, ../sass/variables/_font_faces.scss */
.flaticon-magnifier12:before {
  content: "\e002"; }

/* line 53, ../sass/variables/_font_faces.scss */
.flaticon-magnifier13:before {
  content: "\e003"; }

/* line 57, ../sass/variables/_font_faces.scss */
.flaticon-marker20:before {
  content: "\e004"; }

/* line 60, ../sass/variables/_font_faces.scss */
.flaticon-next25:before {
  content: "\e005"; }

/* line 63, ../sass/variables/_font_faces.scss */
.flaticon-play-button4:before {
  content: "\e006"; }

/* line 66, ../sass/variables/_font_faces.scss */
.flaticon-play109:before {
  content: "\e007"; }

/* line 69, ../sass/variables/_font_faces.scss */
.flaticon-play43:before {
  content: "\e008"; }

/* line 72, ../sass/variables/_font_faces.scss */
.flaticon-right133:before {
  content: "\e009"; }

/* line 75, ../sass/variables/_font_faces.scss */
.flaticon-shopping-cart13:before {
  content: "\e00a"; }

/* line 78, ../sass/variables/_font_faces.scss */
.flaticon-shopping-cart7:before {
  content: "\e00b"; }

/* line 81, ../sass/variables/_font_faces.scss */
.flaticon-shopping122:before {
  content: "\e00c"; }

/* line 84, ../sass/variables/_font_faces.scss */
.flaticon-shopping232:before {
  content: "\e00d"; }

/* line 87, ../sass/variables/_font_faces.scss */
.flaticon-videoplayer5:before {
  content: "\e00e"; }

/* line 90, ../sass/variables/_font_faces.scss */
.flaticon-youtube31:before {
  content: "\e00f"; }

/* FLATICON 2 */
@font-face {
  font-family: "Flaticon2";
  src: url("../fonts/Flaticon2.eot");
  src: url("../fonts/Flaticon2.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon2.woff") format("woff"), url("../fonts/Flaticon2.ttf") format("truetype"), url("../fonts/Flaticon2.svg#Flaticon2") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 107, ../sass/variables/_font_faces.scss */
[class^="flaticon2-"]:before, [class*=" flaticon2-"]:before,
[class^="flaticon2-"]:after, [class*=" flaticon2-"]:after {
  font-family: Flaticon2;
  font-style: normal;
  font-size: 1.25em;
  margin-right: 15px; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon2";
    src: url("../fonts/Flaticon2.svg#Flaticon2") format("svg"); } }
/* line 122, ../sass/variables/_font_faces.scss */
.fi:before {
  display: inline-block;
  font-family: "Flaticon2";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

/* line 137, ../sass/variables/_font_faces.scss */
.flaticon2-arrow:before {
  content: "\f100"; }

/* line 138, ../sass/variables/_font_faces.scss */
.flaticon2-arrow-1:before {
  content: "\f101"; }

/* line 139, ../sass/variables/_font_faces.scss */
.flaticon2-book:before {
  content: "\f102"; }

/* line 140, ../sass/variables/_font_faces.scss */
.flaticon2-business-card-of-a-man-with-contact-info:before {
  content: "\f103"; }

/* line 141, ../sass/variables/_font_faces.scss */
.flaticon2-circle:before {
  content: "\f104"; }

/* line 142, ../sass/variables/_font_faces.scss */
.flaticon2-compact-disc:before {
  content: "\f105"; }

/* line 143, ../sass/variables/_font_faces.scss */
.flaticon2-computer-screen:before {
  content: "\f106"; }

/* line 144, ../sass/variables/_font_faces.scss */
.flaticon2-create-group-button:before {
  content: "\f107"; }

/* line 145, ../sass/variables/_font_faces.scss */
.flaticon2-credit-card:before {
  content: "\f108"; }

/* line 146, ../sass/variables/_font_faces.scss */
.flaticon2-credit-card-1:before {
  content: "\f109"; }

/* line 147, ../sass/variables/_font_faces.scss */
.flaticon2-eye-of-a-human:before {
  content: "\f10a"; }

/* line 148, ../sass/variables/_font_faces.scss */
.flaticon2-eye-with-eyelashes:before {
  content: "\f10b"; }

/* line 149, ../sass/variables/_font_faces.scss */
.flaticon2-file:before {
  content: "\f10c"; }

/* line 150, ../sass/variables/_font_faces.scss */
.flaticon2-headphones:before {
  content: "\f10d"; }

/* line 151, ../sass/variables/_font_faces.scss */
.flaticon2-headphones-1:before {
  content: "\f10e"; }

/* line 152, ../sass/variables/_font_faces.scss */
.flaticon2-history:before {
  content: "\f10f"; }

/* line 153, ../sass/variables/_font_faces.scss */
.flaticon2-interface:before {
  content: "\f110"; }

/* line 154, ../sass/variables/_font_faces.scss */
.flaticon2-interface-1:before {
  content: "\f111"; }

/* line 155, ../sass/variables/_font_faces.scss */
.flaticon2-internet:before {
  content: "\f112"; }

/* line 156, ../sass/variables/_font_faces.scss */
.flaticon2-key:before {
  content: "\f113"; }

/* line 157, ../sass/variables/_font_faces.scss */
.flaticon2-key-1:before {
  content: "\f114"; }

/* line 158, ../sass/variables/_font_faces.scss */
.flaticon2-line:before {
  content: "\f115"; }

/* line 159, ../sass/variables/_font_faces.scss */
.flaticon2-log-out:before {
  content: "\f116"; }

/* line 160, ../sass/variables/_font_faces.scss */
.flaticon2-login:before {
  content: "\f117"; }

/* line 161, ../sass/variables/_font_faces.scss */
.flaticon2-login-square-arrow-button-outline:before {
  content: "\f118"; }

/* line 162, ../sass/variables/_font_faces.scss */
.flaticon2-medical:before {
  content: "\f119"; }

/* line 163, ../sass/variables/_font_faces.scss */
.flaticon2-meditation-yoga-posture:before {
  content: "\f11a"; }

/* line 164, ../sass/variables/_font_faces.scss */
.flaticon2-message-in-a-speech-bubble:before {
  content: "\f11b"; }

/* line 165, ../sass/variables/_font_faces.scss */
.flaticon2-mp3:before {
  content: "\f11c"; }

/* line 166, ../sass/variables/_font_faces.scss */
.flaticon2-music:before {
  content: "\f11d"; }

/* line 167, ../sass/variables/_font_faces.scss */
.flaticon2-music-file:before {
  content: "\f11e"; }

/* line 168, ../sass/variables/_font_faces.scss */
.flaticon2-music-folder:before {
  content: "\f11f"; }

/* line 169, ../sass/variables/_font_faces.scss */
.flaticon2-music-player:before {
  content: "\f120"; }

/* line 170, ../sass/variables/_font_faces.scss */
.flaticon2-musical-note:before {
  content: "\f121"; }

/* line 171, ../sass/variables/_font_faces.scss */
.flaticon2-notebook:before {
  content: "\f122"; }

/* line 172, ../sass/variables/_font_faces.scss */
.flaticon2-notebook-1:before {
  content: "\f123"; }

/* line 173, ../sass/variables/_font_faces.scss */
.flaticon2-opened-eye:before {
  content: "\f124"; }

/* line 174, ../sass/variables/_font_faces.scss */
.flaticon2-plus:before {
  content: "\f125"; }

/* line 175, ../sass/variables/_font_faces.scss */
.flaticon2-science-book:before {
  content: "\f126"; }

/* line 176, ../sass/variables/_font_faces.scss */
.flaticon2-settings:before {
  content: "\f127"; }

/* line 177, ../sass/variables/_font_faces.scss */
.flaticon2-settings-1:before {
  content: "\f128"; }

/* line 178, ../sass/variables/_font_faces.scss */
.flaticon2-settings-2:before {
  content: "\f129"; }

/* line 179, ../sass/variables/_font_faces.scss */
.flaticon2-shelter:before {
  content: "\f12a"; }

/* line 180, ../sass/variables/_font_faces.scss */
.flaticon2-sign-in:before {
  content: "\f12b"; }

/* line 181, ../sass/variables/_font_faces.scss */
.flaticon2-technology:before {
  content: "\f12c"; }

/* line 182, ../sass/variables/_font_faces.scss */
.flaticon2-video-camera:before {
  content: "\f12d"; }

/* line 183, ../sass/variables/_font_faces.scss */
.flaticon2-video-player:before {
  content: "\f12e"; }

/* line 184, ../sass/variables/_font_faces.scss */
.flaticon2-woman-stretching-back:before {
  content: "\f12f"; }

/* ICO MOON */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?7cm3b3");
  src: url("../fonts/icomoon.eot?#iefix7cm3b3") format("embedded-opentype"), url("../fonts/icomoon.ttf?7cm3b3") format("truetype"), url("../fonts/icomoon.woff?7cm3b3") format("woff"), url("../fonts/icomoon.svg?7cm3b3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 198, ../sass/variables/_font_faces.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 211, ../sass/variables/_font_faces.scss */
.icon-menu:before {
  content: "\e9bd"; }

/* line 214, ../sass/variables/_font_faces.scss */
.icon-menu2:before {
  content: "\e9be"; }

/* line 217, ../sass/variables/_font_faces.scss */
.icon-menu3:before {
  content: "\e9bf"; }

/* line 220, ../sass/variables/_font_faces.scss */
.icon-cart:before {
  content: "\e93a"; }

/* line 1, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.10.2/stylesheets/toolkit/_kickstart.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 11, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.10.2/stylesheets/toolkit/_kickstart.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 15, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.10.2/stylesheets/toolkit/_kickstart.scss */
embed,
img,
object,
video {
  max-width: 100%;
  height: auto; }

/* No files to import found in variables/**\/* */
/* No files to import found in abstractions/**\/* */
/* No files to import found in base/**\/* */
/* No files to import found in components/**\/* */
/* No files to import found in layout/**\/* */
/*
formula is ...
panels top adds to push height 
for mobile it would 
panels top 990px + 450 = 1440
*/
/* $panelsFlexible1Top:990px; */
/*touch portrait 1640 seems to work! this is a hackkkkk */
/* CONTROL WHICH MENUS */
@media (min-width: 48.0625em) {
  /* line 36, ../sass/variables/_layout.scss */
  #main-nav-wrapper {
    display: block; }

  /* line 37, ../sass/variables/_layout.scss */
  .mobile-nav__wrapper {
    display: none; }

  /*ul*/
  /* line 38, ../sass/variables/_layout.scss */
  .mobile-header {
    display: none; }

  /* line 39, ../sass/variables/_layout.scss */
  #mobile-nav {
    display: none; } }
@media (min-width: 0) and (max-width: 48em) {
  /* line 43, ../sass/variables/_layout.scss */
  #top-nav {
    display: none; }

  /* line 44, ../sass/variables/_layout.scss */
  #main-nav-wrapper {
    display: none; }

  /* line 45, ../sass/variables/_layout.scss */
  .mobile-nav__wrapper {
    display: block; }

  /*ul*/
  /* line 46, ../sass/variables/_layout.scss */
  .mobile-header {
    display: block; } }
/* END CONTROL WHICH MENUS */
/* GLOBAL STUFF HERE */
/* MIXINS .............*/
/* line 59, ../sass/variables/_layout.scss */
.l-main {
  position: relative;
  padding-top: 70px; }
  @media (min-width: 64.0625em) {
    /* line 59, ../sass/variables/_layout.scss */
    .l-main {
      padding-top: 40px; } }
  @media (min-width: 48.0625em) and (max-width: 64em) {
    /* line 59, ../sass/variables/_layout.scss */
    .l-main {
      padding-top: 20px; } }
  @media (min-width: 36.3125em) and (max-width: 48em) {
    /* line 59, ../sass/variables/_layout.scss */
    .l-main {
      padding-top: 16px; } }

/* line 77, ../sass/variables/_layout.scss */
.l-main {
  position: relative; }
  @media (min-width: 64.0625em) {
    /* line 77, ../sass/variables/_layout.scss */
    .l-main {
      padding-bottom: 24px; } }
  @media (min-width: 48.0625em) and (max-width: 64em) {
    /* line 77, ../sass/variables/_layout.scss */
    .l-main {
      padding-bottom: 20px; } }
  @media (min-width: 36.3125em) and (max-width: 48em) {
    /* line 77, ../sass/variables/_layout.scss */
    .l-main {
      padding-bottom: 16px; } }

/* GLOBAL PAGE LAYOUT CONTAINERS */
/* line 104, ../sass/variables/_layout.scss */
.l-page {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 0 !important;
  /* this is not making it to staging! */ }

/* line 111, ../sass/variables/_layout.scss */
.l-main {
  overflow-x: visible;
  overflow-y: visible;
  margin: 0 auto;
  /* min-height:830px; */ }
  /* line 13, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .l-main:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 64.0625em) {
    /* line 111, ../sass/variables/_layout.scss */
    .l-main {
      width: 940px; } }

/* line 124, ../sass/variables/_layout.scss */
.l-content {
  position: relative;
  padding-top: 65px;
  /* mobile only! social media goes here */ }
  @media (min-width: 36.3125em) {
    /* line 124, ../sass/variables/_layout.scss */
    .l-content {
      padding-top: 0px; } }

/* STICKY FOOTER CONTROLS */
/* line 131, ../sass/variables/_layout.scss */
.l-page {
  min-height: 100%;
  /* margin-bottom:-$footerHeightTouch; */ }
  @media (min-width: 36.3125em) {
    /* line 131, ../sass/variables/_layout.scss */
    .l-page {
      /* margin-bottom: -$footerHeight;  */ } }

/*
footer, .push { 
	height:$footerHeightTouch;
	@include breakpoint($tablet-min){
		height: $footerHeight;
	}
}

*/
/* line 149, ../sass/variables/_layout.scss */
.push {
  display: none; }

/* line 153, ../sass/variables/_layout.scss */
.l-footer {
  padding-top: 10px;
  clear: both; }
  /* line 13, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }
  /* line 158, ../sass/variables/_layout.scss */
  .l-footer .l-region--footer {
    margin: 0 auto; }
    @media (min-width: 64.0625em) {
      /* line 158, ../sass/variables/_layout.scss */
      .l-footer .l-region--footer {
        width: 940px; } }
    @media (min-width: 36.3125em) and (max-width: 48em) {
      /* line 158, ../sass/variables/_layout.scss */
      .l-footer .l-region--footer {
        width: 85%; } }
    @media (min-width: 48.0625em) and (max-width: 64em) {
      /* line 158, ../sass/variables/_layout.scss */
      .l-footer .l-region--footer {
        width: 90%; } }

/* END STICKY FOOTER CONTROLS */
/* line 174, ../sass/variables/_layout.scss */
#block-views-album-display-footer-block {
  width: 760px;
  /*change */
  margin: 0 auto;
  position: relative; }

/* line 180, ../sass/variables/_layout.scss */
.l-page {
  background-image: url("/sites/default/files/bg-swirl-orange.png");
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background-size: auto;
  background-repeat: no-repeat;
  /*NOTE THIS IS HEADER HEIGHT */ }
  @media (min-width: 64.0625em) {
    /* line 180, ../sass/variables/_layout.scss */
    .l-page {
      background-position: center 91px; } }
  @media (min-width: 48.0625em) and (max-width: 64em) {
    /* line 180, ../sass/variables/_layout.scss */
    .l-page {
      background-position: center 66px; } }

/* line 191, ../sass/variables/_layout.scss */
header {
  width: 100%;
  margin: 0 auto; }
  /* line 13, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  header:after {
    content: "";
    display: table;
    clear: both; }

/* line 197, ../sass/variables/_layout.scss */
.l-content {
  padding-left: 1%;
  padding-right: 1%; }
  @media (min-width: 48.0625em) and (max-width: 64em) {
    /* line 197, ../sass/variables/_layout.scss */
    .l-content {
      position: relative;
      padding-left: 10px;
      padding-right: 10px; } }
  @media (min-width: 36.3125em) and (max-width: 48em) {
    /* line 197, ../sass/variables/_layout.scss */
    .l-content {
      position: relative;
      padding-left: 1.5%;
      padding-right: 1.5%; } }
  @media (min-width: 64.0625em) {
    /* line 197, ../sass/variables/_layout.scss */
    .l-content {
      padding-left: 0;
      padding-right: 0; } }

/* DISPLAY SUITE */
/* line 217, ../sass/variables/_layout.scss */
.ds-2col-stacked > .group-left, .ds-2col-stacked > .group-right {
  /*MOBILE FIRST 1 COLUMN */
  float: none;
  /* LTR */
  width: 100%;
  clear: both; }

@media (min-width: 36.3125em) {
  /* line 225, ../sass/variables/_layout.scss */
  .ds-2col-stacked > .group-left {
    float: left;
    width: 50%;
    clear: left; }

  /* line 231, ../sass/variables/_layout.scss */
  .ds-2col-stacked > .group-right {
    float: right;
    width: 50%;
    clear: none; } }
/* line 240, ../sass/variables/_layout.scss */
.ds-2col-stacked > .group-footer {
  clear: both; }

/* line 244, ../sass/variables/_layout.scss */
#widthMonitor {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 20px;
  background: #000;
  color: #fff;
  font-size: 10px;
  z-index: 100; }

/* line 3, ../sass/variables/_modal_windows.scss */
div.modal-content form.user-register-form #edit-email {
  width: 100%; }
/* line 6, ../sass/variables/_modal_windows.scss */
div.modal-content form.user-register-form input[type="submit"] {
  /* @include  */ }

/* used to fix annoying sass error, dont' use this var */
/* %flaticon-icons { */
/* line 8, ../sass/variables/_typography.scss */
a.social-icons {
  color: #01a5af !important; }
  /* line 10, ../sass/variables/_typography.scss */
  a.social-icons:hover {
    transition: color 0.3s;
    color: #99cc66 !important; }

/* looks like Verdana, or Trebuchet */
/* line 24, ../sass/variables/_typography.scss */
body {
  font-size: 16px; }

/* line 28, ../sass/variables/_typography.scss */
h1, h2, h3, h4 {
  color: #00a5b0;
  font-family: "bebas_neue_regularregular";
  line-height: 1;
  margin: 0;
  padding: 0; }

/* line 39, ../sass/variables/_typography.scss */
h1, h2 {
  text-transform: uppercase; }

/*MAIN PRODUCT PAGES */
/* line 89, ../sass/variables/_typography.scss */
.product-page-price {
  font-weight: bold;
  color: #99cc66;
  font-size: 1.4em;
  display: block;
  margin: 5px 0; }

/* line 93, ../sass/variables/_typography.scss */
p.product-page-description {
  width: 90%;
  line-height: 1.4; }

/* line 98, ../sass/variables/_typography.scss */
.product-details {
  font-size: .75em;
  display: block; }
  /* line 101, ../sass/variables/_typography.scss */
  .product-details .label-inline {
    display: inline;
    font-weight: bold; }

/* line 108, ../sass/variables/_typography.scss */
.form-item-quantity label {
  /*USED BY BOOKS, DVDS only */
  font-size: .75em; }

/* line 124, ../sass/variables/_typography.scss */
.price {
  font-weight: bold;
  color: #88bb55; }

/* line 126, ../sass/variables/_typography.scss */
.notice {
  font-size: .65em;
  font-family: Arial, Helvetica, sans-serif; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/* line 29, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/* line 40, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 47, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
[hidden],
template {
  display: none; }

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
/* line 11, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_base.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 19, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_base.scss */
body {
  margin: 0; }

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_links.scss */
a {
  background: transparent; }

/* line 15, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_links.scss */
a:active,
a:hover {
  outline: 0; }

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 15, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
b,
strong {
  font-weight: bold; }

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
dfn {
  font-style: italic; }

/* line 29, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 36, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 43, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
small {
  font-size: 80%; }

/* line 49, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 57, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sup {
  top: -0.5em; }

/* line 61, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sub {
  bottom: -0.25em; }

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_embeds.scss */
img {
  border: 0; }

/* line 15, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_embeds.scss */
svg:not(:root) {
  overflow: hidden; }

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
figure {
  margin: 1em 40px; }

/* line 15, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 23, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
pre {
  overflow: auto; }

/* line 29, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
/* line 15, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 27, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button {
  overflow: visible; }

/* line 36, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
select {
  text-transform: none; }

/* line 47, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 57, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 64, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 73, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input {
  line-height: normal; }

/* line 83, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 93, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 102, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 113, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 120, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 129, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
legend {
  border: 0;
  padding: 0; }

/* line 136, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
textarea {
  overflow: auto; }

/* line 143, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
optgroup {
  font-weight: bold; }

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_tables.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 14, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-normalize-1.5/stylesheets/normalize/_tables.scss */
td,
th {
  padding: 0; }

/* line 1, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.10.2/stylesheets/toolkit/_kickstart.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 11, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.10.2/stylesheets/toolkit/_kickstart.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 15, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.10.2/stylesheets/toolkit/_kickstart.scss */
embed,
img,
object,
video {
  max-width: 100%;
  height: auto; }

/*# sourceMappingURL=lovetribevibes.normalize.css.map */
