#block-views-homepage-playa-block-1 {
	position:absolute;
	top:540px; 
	padding:0; 
	cursor:move;	
	z-index:30;
	background-color:rgba(255, 255, 255, 0.8);
	/*
	top:-550px;
	left:0;
	right:0;
	width:95%;
	margin:0 auto;
*/
	@include breakpoint($tablet-portrait){
		
		position:relative;
		top:450px;
		left:0px;
		width:95%;
		margin:0 auto;
		background-color:rgba(255, 255, 255, 1);
		}

	@include breakpoint($tablet-landscape){
		background-color:rgba(255, 255, 255, 0.4);
		position:absolute;
		top:160px;
		left:370px;
		width:410px;
		}	
	@include breakpoint($desktop){
		
		position:absolute;
		top:160px;
		right:5px;
		width:460px;
		background-color:rgba(255, 255, 255, 0.4);

		.sm2-inline-duration {
			font-size: 9px;
			    top: -11px;
			    position: relative;
			    text-align: center;		
			@include breakpoint($tablet-min) {
				font-size: 10px;
			    top: -8px;
			    position: relative;
			    text-align: center;		
			}
		
		}
	}
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	@include player-drop-shadow;

	

	h3.block__title {
		@include player-border-radius;
		/*
		padding-top:12px;
		padding-left:15px;
		padding-bottom: 8px;
		margin:0px;	
		*/
		@include listen-label-title;
		
	}
	.views-row {
		@include player-views-row;
	}

}