.block--block-21 {
	position:absolute;
	width:100%;
	height:315px;
	z-index:30;
	background-color:rgba(255, 255, 255, 0.8);
	top:540px;

	h3 {
		font-size: 1.5em;
    	text-align: center;
		/* font-size: 2.25em; */
	}
	.block__content iframe {
		@include all-purpose-bg-shadow;
	}
	
	@include breakpoint($tablet-portrait){
		position:absolute;
		top:100px;
		right:5px;
		background: transparent;
		width:330px;
			h3 {font-size: 1.75em;text-align: left;}
			}
	
	@include breakpoint($tablet-landscape){
		position:absolute;
		top:100px;
		right:5px;
		background: transparent;
		width:460px;
			h3 {font-size: 2.25em;text-align: left;}
			}

	@include breakpoint($desktop){
		position:absolute;
		width:460px;
		top:100px;
		right:5px;
		background:transparent;
		
		h3 {font-size: 2.25em;text-align: left;}
	}

}