

	#search-container {
		-webkit-box-shadow: 9px 9px 5px 0px rgba(0,0,0,0.09);
		-moz-box-shadow: 9px 9px 5px 0px rgba(0,0,0,0.09);
		box-shadow: 9px 9px 5px 0px rgba(0,0,0,0.09);
	}
	
	#search-block-form--4, #search-block-form--2 {

		input.form-text {
			width:89%;
			display: inline-block;
			height:100%;
			letter-spacing:3px;
			padding-left: 10px;
			margin:0;
		}	
		input[type="submit"] {
			@include add-to-cart-basic;
			display: inline !important;
			height:100%;
			width:10%;
		}
		::-webkit-input-placeholder {
   			color: #dedede;

		}

	}

/* These have to be set to 100% height too, so input height can be set to 100% */

#search-container > form.search-block-form--2, #search-container > form.search-block-form--2 > div {height:100%;}
#serach-container .form-item {
	margin:0 !important;
	display:inline-block;
	input {
		@include text-input-format;
	} 
	}
.container-inline {
	height:100%;
	display:inline-block;
	width:100%;
}
