
body.section-checkout, body.section-cart {

.block--block-11 {
		color:#00a5b0; 
    	font-family: $bebasNeue;
		position:absolute;
		right:1.5%; 
		top:5px;
		font-size:1.5em;   
		@include breakpoint($tablet-landscape-min){display:none;}
	}


}