// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "toolkit/kickstart";


@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";  
@import "layout/**/*";
@import "pages/**/*";

  
@include breakpoint($desktop) {  
		/*  @include monitor-breakpoint-qs('desktop min-width 1025');  */
	}

@include breakpoint($tablet-landscape) {
	/*	@include monitor-breakpoint-qs('tablet landscape 769 1024'); */
	}

@include breakpoint($tablet-portrait) {
		/* @include monitor-breakpoint-qs('tablet portrait 581 768'); */
	} 
@include breakpoint($touch-landscape-max) {
		/* @include monitor-breakpoint-qs('small touch max 580'); */
	}

/* GLOBAL SETTINGS */
* {margin: 0;}

html, body {height:100%;}

ul {
	list-style-type:none;
}

th {
	padding:3px 2px;
	background-color:$ltvGreen;
}

ul.breadcrumb, h2.element-invisible {display:none} 





