/**
 * @file
 * Theme for for system messages.
 */
/* Message */
.messages {
  margin: 6px 0;
  padding: 10px 10px 10px 50px;
  /* LTR */
  background-position: 8px 8px;
  /* LTR */
  background-repeat: no-repeat;
  border: 1px solid;
}
.messages ul {
  margin: 0 0 0 1em;
  /* LTR */
  padding: 0;
}
.messages li {
  list-style-image: none;
}

/* Status Messages */
.messages--status {
  background-image: url('../../../images/misc/message-24-ok.png');
  border-color: #be7;
}

.messages--status,
tr.ok {
  background-color: #f8fff0;
}

.messages--status,
.ok {
  color: #234600;
}

/* Warning Messages */
.messages--warning {
  background-image: url('../../../images/misc/message-24-warning.png?1379458577');
  border-color: #ed5;
}

.messages--warning,
tr.warning {
  background-color: #fffce5;
}

.messages--warning,
.warning {
  color: #333;
}

/* Error Messages */
.messages--error {
  background-image: url('../../../images/misc/message-24-error.png?1379458577');
  border-color: #ed541d;
}

.messages--error,
tr.error {
  background-color: #fef5f1;
}

.messages--error,
.error {
  color: #333;
}

.error .error {
  color: #8c2e0b;
}
