/**
 * @file
 * System wide theme styles.
 */
/**
 * @file
 * Basic styling for common HTML elements.
 */
/* Fieldsets */
fieldset {
  margin-bottom: 1em;
}

/* Tables */
table {
  border-collapse: collapse;
}

th {
  padding-right: 1em;
  /* LTR */
  background-color: #bbb;
  text-align: left;
  /* LTR */
}

tr.even,
tr.odd {
  background-color: #eee;
}

tr.odd {
  /* background-color: #ddd; */
  background-color:#edf2f4;
} 

/**
 * @file
 * Theme for autocomplete.
 *
 * @see autocomplete.js
 */
#autocomplete {
  background: #fff;
  border: 1px solid;
  color: #000;
}
#autocomplete .selected {
  background: #0072b9;
  color: #fff;
}

/**
 * @file
 * Theme for collapsible fieldsets.
 *
 * @see collapse.js
 */
html.js fieldset.collapsible .fieldset-legend {
  padding-left: 15px;
  /* LTR */
  background: url('../../../images/misc/menu-expanded.png?1379458577') 5px 65% no-repeat;
  /* LTR */
}

html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}
html.js fieldset.collapsed .fieldset-legend {
  background-image: url('../../../images/misc/menu-collapsed.png?1379458577');
  /* LTR */
  background-position: 5px 50%;
  /* LTR */
}

.fieldset-legend .summary {
  margin-left: 0.5em;
  color: #999;
  font-size: 0.9em;
}

/**
 * @file
 * Theme for the tabledrag behavior.
 *
 * @see tabledrag.js
 */
.drag {
  background-color: #fffff0;
}

.drag-previous {
  background-color: #ffd;
}

/**
 * @file
 * Theme for the progress behavior.
 *
 * @see progress.js
 */
.progress {
  font-weight: bold;
}
.progress .bar {
  background: #ccc;
  border-color: #666;
  margin: 0 0.2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.progress .filled {
  background: #0072b9 url('../../../images/misc/progress.gif?1379458577');
}

/**
 * @file
 * Theme for the tableselect behavior.
 *
 * @see tableselect.js
*/
.selected td {
  background: #ffc;
}

.checkbox,
.checkbox {
  text-align: center;
}

/**
 * @form
 * Theme for markup generated by Form API.
 */
/* Generic Form Items. */
.form-item,
.form-actions {
  margin-bottom: 1em;
}
.form-item label,
.form-actions label {
  display: block;
  font-weight: bold;
}
.form-item .description,
.form-actions .description {
  font-size: 0.85em;
}

/* Checkboxes and Radios */
.form-checkboxes .form-item,
.form-radios .form-item {
  margin-bottom: 0.4em;
}
.form-checkboxes .description,
.form-radios .description {
  margin-left: 2.4em;
}

label.option {
  display: inline;
  font-weight: normal;
}

.form-checkbox,
.form-radio {
  vertical-align: middle;
}

/* Errors */
.marker,
.form-required {
  color: #f00;
}

input.error,
textarea.error,
select.error {
  border: 2px solid red;
}

/* Table Form Items */
tr .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

/* Inline Items */
.container-inline .form-actions,
.container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * @file
 * Theme for the markup generated by theme_tablesort_indicator().
 */
th.active img {
  display: inline;
}

td.active {
  background-color: #ddd;
}

/**
 * @file
 * Theme for more links.
 */
.more-link {
  display: block;
  text-align: right;
  /* LTR */
}

/**
 * @file
 * Theme for markup generated by theme_pager().
 */
.pager {
  clear: both;
  padding: 0;
  text-align: center;
}

.pager__item {
  display: inline;
  padding: 0.5em;
  background-image: none;
  list-style-type: none;
}

.pager__item--current {
  font-weight: bold;
}
