



<style>

/* a bit of demo CSS - you don't need this. */




/* skin the turntable body? see turntable.css for more. */
.turntable .frame {
 background-color: #333;
 background-image: url(image/textures/textured_paper.png);
 /* scale for retina, etc. */
 background-size: 250px 250px;
 /* classic champagne-ish color? */
 /* background: #abacac; */
}

div.about {
 position: relative;
 z-index: 2;
 margin: 0px 0px -4% 5%;
 color:purple;
}

div.about h1 {
 font-size: 3.275em;
 margin: 0px 0px 0.1em 0px;
}

div.about h2 {
 font-size: 2.5em;
 margin: 0.75em 0px 0.2em 0px;
 color:purple;
}

div.about a {
 text-decoration: none;
 color: #fff;
}

div.about p {
 line-height: 1.5em;
 margin: 0px 0px 0.25em 0px;
}

div.about p:last-of-type {
 margin-bottom: 2em;
}

ul,
.indent {
 padding-left: 4em;
}

ul {
 clear: both;
 margin-top: 0px;
 padding-top: 0px;
 margin-bottom: 0px;
 color: #999;
}

ul li {
 line-height: 1.4em;
}

ul li a {
 position: relative;
 padding: 0px 3px;
 margin: 0px -3px;
 text-decoration: none;
 display: inline-block;
 border-radius: 3px;
}

b {
 font-weight: 500;
}

code {
 font-family: "lucida console", "courier new", monaco, monospace;
 font-size: 1em;
 color: #99ff99;
}

div.about p a,
ul li a {
 color: purple;
 font-weight: bold;
}

div.about p a:hover,
ul li a:hover {
 background-color: #000;
 color: #fff;
 outline: 1px solid rgba(255,255,255,0.1);
}

</style>





  <style>
    /* dark wood, because why not. */
    #turntable-1 .frame {
      background: url('/soundmanager/demo/turntable/image/textures/wood_pattern_dark_color.png');
      /* scale for retina, etc. */
      background-size: 101px 158px;
    }
    #turntable-2 .frame {
      background: url('/soundmanager/demo/turntable/image/textures/pinstriped_suit_vertical.png');
      background-size: 142px 76px;
    }
  </style>
<link rel="stylesheet" href="/soundmanager/demo/turntable/css/turntable.css" />
<script type="text/javascript" src="/soundmanager/demo/turntable/script/soundmanager2.js"></script>
<script src="/soundmanager/demo/turntable/script/turntable.js"></script>
<script src="/soundmanager/demo/turntable/script/turntable-app.js"></script>

  <!-- two turntables side-by-side -->

  <div style="position:relative;display:inline-block;width:100%">

    <!-- start turntable -->

    <div id="turntable-1" class="turntable has-slipmat">

     <div class="frame"></div>

     <div class="table-bg"></div>

     <!-- image that sets the base dimensions-->
     <img src="/soundmanager/demo/turntable/image/tt_case_and_lighting.png" alt="" class="stub" />

     <div class="bd">

      <div class="platter"></div>
      
      <div class="slipmat-holder">
       <div class="slipmat"></div>
      </div>

      <div class="record-holder">
       <div class="record"></div>
       <div class="record-grooves"></div>
       <div class="label"></div>
      </div>

      <div class="spindle"></div>
      <div class="power-light"></div>
      <a href="#" class="power-dial" data-method="powerToggle"></a>
      <a href="#" class="button start-stop" data-method="toggle"></a>
      <a href="#" class="button speed-33 on"></a>
      <a href="#" class="button speed-45"></a>
      <div class="light light-on"></div>
      <a href="#" class="button light"></a>
      <div class="tonearm-holder">
       <div class="tonearm"></div>
      </div>
     </div>

    </div>

    <!-- end turntable -->

    <ul>
      <li><a href="/soundmanager/demo/turntable/ltv_samples/Love_Tribe_Vibes.mp3" data-turntable="turntable-1" data-artwork="hippiebus1.jpg"><b>Love Tribe Vibes</a> </li>
      <li><a href="/soundmanager/demo/turntable/ltv_samples/Ek_Ong_Kar_0.mp3" data-turntable="turntable-1" data-artwork="hippiebus1.jpg">Ek Ong Kar</a></li>
      <li><a href="/soundmanager/demo/turntable/ltv_samples/Thinking_Of_You.mp3" data-turntable="turntable-1" data-artwork="hippiebus1.jpg">Thinking of You</a></li>
      <li><a href="/soundmanager/demo/turntable/ltv_samples/Faces.mp3" data-turntable="turntable-1" data-artwork="hippiebus1.jpg">Faces</a></li>
    </ul>

  </div>

  


</body>
</html>
